{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <meta name="keywords" content="EVENTS, events, Events, AXIS16, AXIS VNIT, axis16, axisvnit,vnit,axis,axis16,axisvnit.org,vnit techfest, Central India's Largest Technical Event
        www.axisvnit.org,central india, largest technical festival, technical festival, technical events, nagpur, vnit nagpur, workshops,
        attractions, social initiatives, hrlping others, colors of nagpur, against child labor, world environment day,vnit,
         festival,Central India, Asia, best, biggest, largest, vnit, students, robots, country, campaign, initiative, sponsor, games, artists,
      international, contacts, AXIS, AXIS id, AXIS_VNIT, AXISVNITNAGPUR, axisvnitnagpur, axis.vnit, awesome, largest,
      , Science, Technology, lectures, exhibitions, social, exhibitions, axis2k16, axis16, Axis16,Axis2016,AXIS2016,AXIS2k16">
        <meta name="description" content="AXIS'16: VNIT Nagpur presents Central India's Largest Science and Technology Festival">
<title>EVENTS</title>
<link href="{% static 'main/images/logoweb.png' %}" rel="shortcut icon">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap-3.3.6.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/events.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome/css/font-awesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/flaticons/flaticon.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/star-circle/star-circle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/eveload.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/evedyna.css' %}">
</head>

<body id="events"><div class="blackshade">
<center>
	
     <div class="container-fluid topcontainer"><div class="row">
     	  <!--<img src="images/web.png" width="48" height="48" id="home" alt="home"/>-->
          <a class="link" href="first.html"><i class="fa fa-arrow-circle-left" id="home"></i></a>
  	      <img src="{% static 'main/images/typowebrr.png' %}" id="axisimg" width="256" height="76" alt=""/>
      </div>
    </div>  
       
       
       
       <div class="container-fluid maincontainer">
       
       		<div class=" col-md-1 hidden-xs menucontainer">
            	 
            </div>
            
            <div class=" container col-md-6 col-xs-11  caroucontainer image">
            	<img src="{% static 'main/images/events/tinified/events.jpg' %}" id="img" width="600" height="400" alt=""/>
            </div> 
            
            <a href="#"><i class="fa fa-arrow-circle-left col-md-1 col-sm-1 back" id="back" aria-hidden="true" onclick="change(27)"></i></a>
            
            <div class="container ctgycontainer col-md-3 col-xs-10"">

           <div id="event" >
             <p class="heading" onmouseover="change(27)"><span class=" eveeffect" id ="evespan">EVENTS</span></p>
             </div>
           
           <div id="ANR" onmouseover="change(1)">
           <p class="eventheading"><span>AUTOMATION & ROBOTICS</span></p>
           </div>
          
          <div id="CND" onmouseover="change(2)">
          <p class="eventheading">
          <span>CONSTRUCTION & DESIGN</span></p>
          </div>
        
          <div id="SNE" onmouseover="change(3)">
          <p class=" eventheading">
          <span>Software & Electronics</span></p>
          </div>
          
          <div id="SE" onmouseover="change(4)"><p class=" eventheading">
          <span>SCHOOL EVENTS</span></p>
          </div>
          
          <div id="MNO" onmouseover="change(5)">
          <p class="eventheading">
          <span>MANAGEMENT & OTHERS</span></p>
          </div>
          
          <div id="XXX">
          <p class="eventheading">
          <span>AXIS IGNITING MINDS</span></p>
          </div>
          
          <div id="NE">
          <p class="eventheading">
          <span>NEW EVENTS</span></p>
          </div>
            
            <div class="menuscroll">
                
                <a href="#" class="link l1" >
                    <div class="ex1">
                   <div class="ctgy c1" onMouseOver="change(1)" id="anr">
                   <i class="fa fa-cogs faeve "></i>AUTOMATION & ROBOTICS</div></div>
                </a>
                
                <a href="#" class="link l2">
                <div class="ex2">
                   <div class="ctgy c2" onMouseOver="change(2)" id="cnd">
                   <i class="fa fa-road faeve"></i>CONSTRUCTION & DESIGN</div></div>
                </a>
                
                <a href="#" class="link l3">
                    <div class="ex3">
                   <div class="ctgy c3" onMouseOver="change(3)" id="sne">
                   <i class="fa fa-laptop faeve"></i>SOFTWARE & ELECTRONICS</div></div>
                </a>
                
                <a href="#" class="link l4">
                    <div class="ex4">
                   <div class="ctgy c4" onMouseOver="change(4)" id="se">
                   <i class="fa fa-child faeve"></i>SCHOOL EVENTS</div>
                        </div>
                </a>
                
                <a href="#" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(5)" id="mno">
                  <span class=""> <i class="fa fa-briefcase faeve"></i>MANAGEMENT & OTHERS</span></div></div>
                </a>
                
                <a href="#" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(25)" id="xxx">
                  <span class=""> <i class="fa fa-lightbulb-o faeve"></i>AXIS IGNITING MINDS</span></div></div>
                </a>
                
                <a href="#" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(26)" id="ne">
                  <span class=""> <i class="fa fa-star faeve"></i>NEW EVENTS</span></div></div>
                </a>
                
                <a target="_blank" href="events/new/brain.html" class="link l1">
                    <div class="ex1">
                   <div class="ctgy c1" onMouseOver="change(33)" id="brain">
                   <span class="evectgy">BRAINSTORM</span></div></div>
                </a>
                
                <a target="_blank" href="events/new/laser.html" class="link l1">
                    <div class="ex1">
                   <div class="ctgy c1" onMouseOver="change(32)" id="laser">
                   <span class="evectgy">LASER LITT</span></div></div>
                </a>
                
                <a target="_blank" href="events/new/minute.html" class="link l1">
                    <div class="ex1">
                   <div class="ctgy c1" onMouseOver="change(31)" id="minute">
                   <span class="evectgy">ELECTROBLITZ</span></div></div>
                </a>
                
                <a target="_blank" href="events/xxx/coll.html" class="link l1">
                    <div class="ex1">
                   <div class="ctgy c1" onMouseOver="change(36)" id="coll">
                   <span class="evectgy">COLL IN COLL</span></div></div>
                </a>
                
                <a target="_blank" href="events/xxx/kart.html" class="link l1">
                    <div class="ex1">
                   <div class="ctgy c1" onMouseOver="change(34)" id="kart">
                   <span class="evectgy">KARTAVYA</span></div></div>
                </a>
                
                
                <a target="_blank" href="events/xxx/technodocx.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(35)" id="techno">
                  <span class="evectgy">TECHNO.DOCX</span></div></div>
                </a>
                
                
                <a target="_blank" href="events/mno/informals.html" class="link l1">
                    <div class="ex1">
                   <div class="ctgy c1" onMouseOver="change(30)" id="informal">
                   <span class="evectgy"> INFORMALS</span></div></div>
                </a>
                
                <a target="_blank" href="events/mno/wallstreet.html" class="link l2">
                <div class="ex2">
                   <div class="ctgy c2" onMouseOver="change(20)" id="ws">
                   <span class="evectgy"> WALLSTREET</span></div></div>
                </a>
                
                <a target="_blank" href="events/mno/whosdboss.html" class="link l3">
                    <div class="ex3">
                   <div class="ctgy c3" onMouseOver="change(21)" id="wtb">
                   <span class="evectgy"> WHO'S THE BOSS</span></div></div>
                </a>
                
                <a target="_blank" href="events/mno/221baker.html" class="link l4">
                    <div class="ex4">
                   <div class="ctgy c4" onMouseOver="change(22)" id="bs">
                   <span class="evectgy"> 221B BAKER STREET</span></div>
                        </div>
                </a>
                
                <a target="_blank" href="events/mno/freakomatrix.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(23)" id="fm">
                  <span class="evectgy">FREAK O MATIX</span></div></div>
                </a>
                
                <a target="_blank" href="events/mno/gamesutra.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(24)" id="gamesutra">
                  <span class="evectgy"> GAMESUTRA</span></div></div>
                </a>
                
                <a target="_blank" href="events/sne/animazion.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(6)" id="animazion">
                  <span class="evectgy"> </span>ANIMAZIONE</div></div>
                </a>
                
                <a target="_blank" href="events/sne/cryptocrux.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(7)" id="cryptocrux">
                  <span class="evectgy"> CRYPTOCRUX</span></div></div>
                </a>
                
                <a target="_blank" href="events/sne/insomnia.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(8)" id="insomnia">
                  <span class="evectgy"> INSOMNIA</span></div></div>
                </a>
                 
                 <a target="_blank" href="events/sne/posterolic.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(9)" id="posterolic">
                  <span class="evectgy">POSTEROLIC</span></div></div>
                 </a>
                 
                 <a target="_blank" href="events/se/js.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(19)" id="js">
                  <span class="evectgy"> JUNIOR SCIENTIST</span></div></div>
                 </a>
                 
                 <a target="_blank" href="events/se/dexter.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(28)" id="dexter">
                  <span class="evectgy">DEXTER</span></div></div>
                </a>
                
                <a target="_blank" href="events/cnd/devise.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(11)" id="device">
                  <span class="evectgy"> DEVISE</span></div></div>
                </a>
                
                <a target="_blank" href="events/cnd/crepido.html"  class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(10)" id="crepido">
                  <span class="evectgy">CREPIDO</span></div></div>
                </a>
                
                <a target="_blank" href="events/cnd/paradiegma.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(12)" id="paradeigma">
                  <span class="evectgy">PARADEIGMA</span></div></div>
                </a>
                
                <a target="_blank" href="events/cnd/turboflux.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(13)" id="turbo">
                  <span class="evectgy">TURBOFLUX</span></div></div>
                </a>
                
                <a target="_blank" href="events/cnd/aquaskylark.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(29)" id="aqua">
                  <span class="evectgy">AQUASKYLARK</span></div></div>
                </a>
                
                <a target="_blank" href="events/anr/robowars.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(14)" id="robowar">
                  <span class="evectgy">ROBOWARS</span></div></div>
                </a>
                
                <a target="_blank" href="events/anr/mechatryst.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(15)" id="mechatryst">
                  <span class="evectgy">MECHATRYST</span></div></div>
                </a>
                
                <a target="_blank" href="events/anr/aquahunt.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(16)" id="aquahunt">
                  <span class="evectgy">AQUAHUNT</span></div></div>
                </a>
                
                <a target="_blank" href="events/anr/autobot.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(17)" id="autobot">
                  <span class="evectgy">AUTOBOT</span></div></div>
                </a>
                
                <!--<a target="_blank" href="events/anr/contraption.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change5()" id="contraption">
                  <span class="evectgy">CONTRAPTION</span></div></div>
                </a>-->
                
                <a target="_blank" href="events/anr/robo-saviour.html" class="link ">
                    <div class="ex5">
                   <div class="ctgy " onMouseOver="change(18)" id="robocup">
                  <span class="evectgy">ROBO SAVIOUR</span></div></div>
                </a>
           
           
           
           
           
           
            </div>
        
         </div>
         </div>
  
    <!--footer-->
      <div class=" footer">
            <div class="container-fluid">
                <div class="col-md-offset-9">
                    <a href="https://www.facebook.com/axisvnit/" class=" social-icon fb">
                        <i class="fa fa-facebook-f"></i>
                     </a>
                     <a href="https://www.linkedin.com/company/axis-vnit-nagpur?trk=biz-companies-cym" class=" social-icon in">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://twitter.com/axisvnit" class=" social-icon tw">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/axis_vnit" class=" social-icon ins">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCjczZvwh0T20yvMLsc5eUkA" class=" google social-icon yt">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
            </div>
        </div>
        
        
        <!--time-->
        <div class="timecon">
        <abbr title="Time For Revolution">
        <!--<div id="clockdiv" class="clockdiv hidden-xs hidden-sm time-container">
          <div class="col-md-offset-0 ">
          	  <img src="{% static 'main/images/timeb.png' %}" alt="time left" style="margin-top:8px;" class="cblink">
              <div class="time col-md-1 col-xs-3">
                  <div class="days"></div>
                  <span class="timetext">D</span>
              </div> 
              
              <div class="time col-md-1 col-xs-3">
                  <div class="hours"></div>
                  <span class="timetext">h</span>
              </div>
              
              <div class="time col-md-1 col-xs-3">
                  <div class="minutes"></div>
                  <span class="timetext">m</span>
              </div>
              
              <div class="time col-md-1 col-xs-3">
                  <div class="seconds"></div>
                  <span class="timetext">s</span>
              </div>
          </div>
         </div>--></abbr></div>
         
    

</center>

<script src="{% static 'main/js/jquery-1.11.2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'main/js/bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'main/js/time.js' %}"></script>
<script src="{% static 'main/js/evedyna.js' %}"></script>
<script>

    function change(a) {
        var img,bckg;
        img = document.getElementById("img");
        bckg = document.getElementById("events");
        switch (a){
            case 1:
                img.src="{% static 'main/images/events/tinified/anr.jpg' %}";
                img.style.transition="all 1s";
		        bckg.style.background='url({% static 'main/images/events/tinified/anr.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 2:
                img.src="{% static 'main/' %}images/1.jpg";
                img.style.transition="all 1s";
		        bckg.style.background='url({% static 'main/images/1.jpg' %})';
		        bckg.style.backgroundPosition="center";
		        bckg.style.backgroundPosition="50% 50%";
		        bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 3:
                img.src="{% static 'main/images/events/tinified/software.jpg' %}";
                img.style.transition="all 1s";
		        bckg.style.background='url({% static 'main/images/events/tinified/software.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                break;
            case 4:
                img.src="{% static 'main/images/events/tinified/js.jpg' %}";
                img.style.transition="all 1s";
		        bckg.style.background='url({% static 'main/images/events/tinified/js.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 5:
                img.src="{% static 'main/images/events/tinified/manage.jpg' %}";
                img.style.transition="all 1s";
		        bckg.style.background='url({% static 'main/images/events/tinified/manage.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 6:
                img.src="{% static 'main/images/events/tinified/anim.jpg' %}";
                img.style.transition="all 1s";
		        bckg.style.background='url({% static 'main/images/events/tinified/anim.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 7:
                img.src="{% static 'main/images/events/tinified/crypto.jpg' %}";
                img.style.transition="all 1s";
		        bckg.style.background='url({% static 'main/images/events/tinified/crypto.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 8:
                img.src="{% static 'main/images/events/tinified/inso.jpg' %}";
                img.style.transition="all 1s";
		        bckg.style.background='url({% static 'main/images/events/tinified/inso.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 9:
                img.src="{% static 'main/images/events/tinified/poster.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/poster.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 10:
                img.src="{% static 'main/images/events/tinified/crepido.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/crepido.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 11:
                img.src="{% static 'main/images/events/tinified/devise.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/devise.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 12:
                img.src="{% static 'main/images/events/tinified/para.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/para.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 13:
                img.src="{% static 'main/images/events/tinified/turboflux.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/turboflux.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 14:
                img.src="{% static 'main/images/events/tinified/robo.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/robo.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 15:
                img.src="{% static 'main/images/events/tinified/mecha.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/mecha.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 16:
                img.src="{% static 'main/images/events/tinified/aquahunt.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/aquahunt.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 17:
                img.src="{% static 'main/images/events/tinified/autobot.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/autobot.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 18:
                img.src="{% static 'main/images/ws-bg.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/ws-bg.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 19:
                img.src="{% static 'main/images/events/tinified/jstini.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/jstini.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 20:
                img.src="{% static 'main/images/events/tinified/wall.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/wall.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 21:
                img.src="{% static 'main/images/events/tinified/boss.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/boss.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 22:
                img.src="{% static 'main/images/events/tinified/baker.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/baker.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 23:
                img.src="{% static 'main/images/events/tinified/freako.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/freako.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 24:
                img.src="{% static 'main/images/events/tinified/GAMESUTRA.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/GAMESUTRA.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 25:
                img.src="{% static 'main/images/events/tinified/ignite.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/ignite.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 26:
                img.src="{% static 'main/images/events/tinified/new.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/new.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 27:
                img.src="{% static 'main/images/events/tinified/events.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/events.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 28:
                img.src="{% static 'main/images/events/tinified/dexter.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/dexter.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 29:
                img.src="{% static 'main/images/events/tinified/aqua.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/aqua.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 30:
                img.src="{% static 'main/images/events/tinified/informals.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/informals.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 31:
                img.src="{% static 'main/images/events/tinified/electroblitz-min.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/electroblitz-min.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 32:
                img.src="{% static 'main/images/events/tinified/laser_website.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/laser_website.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 33:
                img.src="{% static 'main/images/events/tinified/new.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/new.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 34:
                img.src="{% static 'main/images/events/tinified/kartavya-min.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/kartavya-min.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 35:
                img.src="{% static 'main/images/events/tinified/techno-min.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/techno-min.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
            case 36:
                img.src="{% static 'main/images/events/tinified/coll-in-coll-min.jpg' %}";
                img.style.transition="all 1s";
                bckg.style.background='url({% static 'main/images/events/tinified/coll-in-coll-min.jpg' %})';
		        bckg.style.backgroundPosition="50% 50%";
                bckg.style.backgroundSize="cover";
                bckg.style.transition="all 1s";
                break;
        }
    }

</script>

</div>
</body>
</html>
