{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SIGNUP</title>
<link href="{% static 'main/images/logoweb.png' %}" rel="shortcut icon">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/formthemelogin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}">
</head>

<body>

<center>

<div class="container-fluid">

	<img src="{% static 'main/images/typowebrr.png' %}" id="axisimg" width="289" height="85" alt="" />
    
    <div class="row">
    	<div class=" col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 main">
        	<div class="login">REGISTER</div>
            
            
            <div class="form">
            	<form role="form" class="form-horizontal" method="post">
                	<div class="form-group ">
                    	
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    		<input class="form-control" name="fname" id="fname" placeholder="First Name"/>
                        </div><br><br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                        
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    		<input class="form-control" name="lname" id="lname" placeholder="Last Name"/>
                        </div><br><br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                        
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    		<input class="form-control" name="college" id="college" placeholder="College"/>
                        </div><br><br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                        
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    		<input class="form-control" name="email" id="email" placeholder="E-Mail"/>
                        </div><br><br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                        
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    		<input class="form-control" name="city" id="city" placeholder="City"/>
                        </div><br><br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                        
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    		<input class="form-control" name="mobile" id="mobile" placeholder="Contact No."/>
                        </div><br><br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                        
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    		<input class="form-control" name="pwd" id="pwd" type="password" placeholder="Password"/>
                        </div><br><br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                        
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    	<input class="form-control" name="cpwd" id="cpwd" type="password" placeholder="Confirm Password"/>
                        </div><br><br><br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                        
                        <div class="col-md-6 col-md-offset-3">
                    		<input class=" btn-warning" type="submit" name="signup" id="signup" value="REGISTER"/>
                        </div><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                    </div>
                </form>	
            </div>
            
            
        </div>
    </div>
    

</div>

</center>


<script src="{% static 'main/js/jquery-2.2.2.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
</body>
</html>
