{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <meta name="keywords" content="social, initiatives, AXIS16, AXIS VNIT, axis16, axisvnit,vnit,axis,axis16,axisvnit.org,vnit techfest, Central India's Largest Technical Event
        www.axisvnit.org,central india, largest technical festival, technical festival, technical events, nagpur, vnit nagpur, workshops,
        attractions, social initiatives, hrlping others, colors of nagpur, against child labor, world environment day,vnit,
         festival,Central India, Asia, best, biggest, largest, vnit, students, robots, country, campaign, initiative, sponsor, games, artists,
      international, contacts, AXIS, AXIS id, AXIS_VNIT, AXISVNITNAGPUR, axisvnitnagpur, axis.vnit, awesome, largest,
      , Science, Technology, lectures, exhibitions, social, exhibitions, axis2k16, axis16, Axis16,Axis2016,AXIS2016,AXIS2k16">
        <meta name="description" content="AXIS'16: VNIT Nagpur presents Central India's Largest Science and Technology Festival">
<title>SOCIAL INITIATIVES</title>
<link href="{% static 'main/images/logoweb.png' %}" rel="icon">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap-3.3.6.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/socini.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome/css/font-awesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/flaticons/flaticon.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/star-circle/star-circle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/eveload.css' %}">
</head>

<body id="socini"><div class="blackshade">
<center>
	
     <div class="container-fluid topcontainer"><div class="row">
     	  <!--<img src="images/web.png" width="48" height="48" id="home" alt="home"/>-->
          <a class="link" href="first.html"><i class="fa fa-arrow-circle-left" id="home"></i></a>
  	      <img src="{% static 'main/images/typowebeve.png' %}" id="axisimg" width="256" height="76" alt=""/>
      </div>
    </div>  
       
       
       
       <div class="container-fluid maincontainer">
       
       		<div class=" col-md-1 hidden-xs menucontainer">
            	 
            </div>
            
            <div class=" container col-md-6 col-xs-11  caroucontainer image">
            	<img src="{% static 'main/images/socini/socinititle.jpg' %}" id="img" width="600" height="400" alt=""/>
                <div id="player" class="hidden" aria-valuenow="{{ video }}">
                	
                </div>
            </div> 
            
            
            <div class="container ctgycontainer col-md-3 col-xs-10">
            <p class="heading eveeffect"><span onMouseOver="change(5)">Social Initiatives</span></p>


                <div class="menuscroll" style="padding-right: 8px">

                <a href="socini/mad.html" class="link ex1">
                   <div class="ctgy" onMouseOver="change(6)">
                   MAKE A DIFFERENCE</div>
                </a>

                <a href="socini/blood.html" class="link ex1">
                   <div class="ctgy" onMouseOver="change(7)">
                   BLOOD DONATION DRIVE</div>
                </a>

                <a href="socini/colors.html" class="link ex1">
                   <div class="ctgy" onMouseOver="change(1)">
                   COLOURS OF NAGPUR</div>
                </a>

                <a href="socini/nosmoke.html" class="link ex2">
                   <div class="ctgy" onMouseOver="change(2)">
                   NO SMOKE CAMPAIGN</div>
                </a>

                <a href="socini/envday.html" class="link ex3">
                   <div class="ctgy" onMouseOver="change(3)">
                   WORLD ENVIRONMENT DAY</div>
                </a>

                <div  class="link ex4">
                   <div class="ctgy" id="" onMouseOver="change(4)">
                   <!--<i class="fa fa-child faeve">x</i>-->AGAINST CHILD LABOUR</div>
                </div>
                <!--<a href="#" class="link ex5">
                   <div class="ctgy" onMouseOver="change5()">
                   <i class="fa fa-briefcase faeve"></i>MANAGEMENT & OTHER</div>
                </a>-->
            </div></div>
        
         </div>

      <!--footer-->
      <div class=" footer">
            <div class="container-fluid">
                <div class="col-md-offset-9">
                    <a target="_blank" href="https://www.facebook.com/axisvnit/" class=" social-icon fb">
                        <i class="fa fa-facebook-f"></i>
                     </a>
                     <a target="_blank" href="https://www.linkedin.com/company/axis-vnit-nagpur?trk=biz-companies-cym" class=" social-icon in">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/axisvnit" class=" social-icon tw">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/axis_vnit" class=" social-icon ins">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCjczZvwh0T20yvMLsc5eUkA" class=" google social-icon yt">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
            </div>
        </div>
        
        
        <!--time-->
        <div class="timecon">
        <abbr title="Time For Revolution">
        <!--<div id="clockdiv" class="clockdiv hidden-xs hidden-sm time-container">
          <div class="col-md-offset-0 ">
          	  <img src="{% static 'main/images/timeg.png' %}" alt="time left" style="margin-top:8px;" class="cblink">
              <div class="time col-md-1 col-xs-3">
                  <div class="days"></div>
                  <span class="timetext">D</span>
              </div> 
              
              <div class="time col-md-1 col-xs-3">
                  <div class="hours"></div>
                  <span class="timetext">h</span>
              </div>
              
              <div class="time col-md-1 col-xs-3">
                  <div class="minutes"></div>
                  <span class="timetext">m</span>
              </div>
              
              <div class="time col-md-1 col-xs-3">
                  <div class="seconds"></div>
                  <span class="timetext">s</span>
              </div>
          </div>
         </div>--></abbr></div>

</center>

<script src="{% static 'main/js/jquery-1.11.2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'main/js/bootstrap.js' %}" type="text/javascript"></script>
<!--<script src="{% static 'main/js/changeimgsocini.js' %}"></script>-->
<script src="{% static 'main/js/time.js' %}"></script>
<script> var static_url="{{ STATIC_URL }}"</script>


    <script>
        // JavaScript Document

	var tag = document.createElement('script');
    tag.src = "http://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
            height: '395',
            width: '600',
            videoId: 'g6yGzaBVlz0',
        });
        document.getElementById('resume').onclick = function () {
            player.playVideo();
        };
        document.getElementById('pause').onclick = function () {
            player.pauseVideo();
        };
    }


        function change(a) {
            var img,bckg,vid,iframe;
            img = document.getElementById("img");
            bckg = document.getElementById("socini");
            vid=document.getElementById("player");
            iframe = document.getElementById("if");
            switch(a){
                case 1:
                    img.src= "{% static 'main/images/socini/colorsofngp.jpg' %}";
		            img.className="visible";
		            bckg.style.background='url({% static 'main/images/socini/colorsofngp.jpg' %})';
                    bckg.style.backgroundPosition="50% 50%";
                    bckg.style.backgroundSize="cover";
		            vid.className="hidden";
                    player.pauseVideo();
                    break;
                case 2:
                    img.src="{% static "main/images/socini/nosmoking.jpg" %}";
		            img.className="visible";
		            bckg.style.background='url({% static 'main/images/socini/nosmoking.jpg' %})';
                    bckg.style.backgroundPosition="50% 50%";
                    bckg.style.backgroundSize="cover";
		            vid.className="hidden";
		            player.pauseVideo();
                    break;
                case 3:
                    img.src="{% static 'main/images/socini/envday.jpg' %}";
		            img.className="visible";
		            bckg.style.background='url({% static 'main/images/socini/envday.jpg' %})';
                    bckg.style.backgroundPosition="50% 50%";
                    bckg.style.backgroundSize="cover";
		            vid.className="hidden";
		            player.pauseVideo();
                    break;
                case  4:
                    img = document.getElementById("img");
		            img.src="images/socini/childlabor.jpg";
		            img.className="hidden";
		            vid.className="visible";
		            bckg.style.background='url(images/socini/childlabor.jpg)';
		            player.pauseVideo();
                    break;
                case 5:
                    img.src="{% static 'main/images/socini/socinititle.jpg' %}";
		            img.className="visible";
		            bckg.style.background='url({% static 'main/images/socini/title.jpg' %})';
                    bckg.style.backgroundPosition="50% 50%";
                    bckg.style.backgroundSize="cover";
		            vid.className="hidden";
		            player.pauseVideo();
                    break;
                case 6:
                    img.src="{% static 'main/images/socini/mad.jpg' %}";
		            img.className="visible";
		            bckg.style.background='url({% static 'main/images/socini/mad.jpg' %})';
                    bckg.style.backgroundPosition="50% 50%";
                    bckg.style.backgroundSize="cover";
		            vid.className="hidden";
		            player.pauseVideo();
                    break;
                case 7:
                    img.src="{% static 'main/images/socini/blood.jpg' %}";
		            img.className="visible";
		            bckg.style.background='url({% static 'main/images/socini/blood.jpg' %})';
                    bckg.style.backgroundPosition="50% 50%";
                    bckg.style.backgroundSize="cover";
		            vid.className="hidden";
		            player.pauseVideo();
                    break;
            }
        }

    </script>



</div>
</body>
</html>
