{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>AXIS 16 Sponsors</title>
	<meta charset="utf-8" />
    <meta name="keywords" content="Sponsors, SPONSORS, sponsors,AXIS16, AXIS VNIT, axis16, axisvnit,vnit,axis,axis16,axisvnit.org,vnit techfest, Central India's Largest Technical Event
        www.axisvnit.org,central india, largest technical festival, technical festival, technical events, nagpur, vnit nagpur, workshops,
        attractions, social initiatives, hrlping others, colors of nagpur, against child labor, world environment day,vnit,
         festival,Central India, Asia, best, biggest, largest, vnit, students, robots, country, campaign, initiative, sponsor, games, artists,
      international, contacts, AXIS, AXIS id, AXIS_VNIT, AXISVNITNAGPUR, axisvnitnagpur, axis.vnit, awesome, largest,
      , Science, Technology, lectures, exhibitions, social, exhibitions, axis2k16, axis16, Axis16,Axis2016,AXIS2016,AXIS2k16">
        <meta name="description" content="AXIS'16: VNIT Nagpur presents Central India's Largest Science and Technology Festival">
    <link href="{% static 'main/images/logoweb.png' %}" rel="icon">
    <link href="{% static 'main/css/bootstrap-3.3.6.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/sponsors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome/css/font-awesome.css' %}">
</head>
<body>

    <div class="container-fluid main">
      
      <a class="link" href="first.html"><i class="fa fa-arrow-circle-left" id="home"></i></a>

        <div class="container shadow "   >
            <div class="row">
                <div class="pageheading text-center">
                    Sponsors 
                </div>
            </div>
            <hr class="hrclass"/>

            <!--title sponsor-->
            <div class="row">
                <div class="title text-center">
                    <div class="row">
                        <div class="c">
                       <a target="_blank" href="http://www.solargroup.com/">  <img src="{% static 'main/images/sponsors/img/Spons16/solar.jpg' %}" style="width:600px; height:300px;" align="middle" alt=""/></a>
                        </div>
                    </div>
                    <div class="row">
                        <p style="font-size:40px;">Title Sponsor</p>
                    </div>
                </div>
            </div>
            <div style="padding:40px"></div>


            <div class="row">
                <div class="title text-center">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-1">
                            <a target="_blank" href="http://www.boeing.co.in">
                            <img class="img-responsive" src="{% static 'main/images/sponsors/img/Spons16/boeing.png' %}" style="width:455px; height:116px;" align="middle" />
                            </a>
                        </div>
                        <div class="col-sm-4 col-sm-offset-2">
                            <a  target="_blank" href="http://timesofindia.indiatimes.com/"> <img class="img-responsive" src="{% static 'main/images/sponsors/img/Spons16/toi.jpg' %}" style="width:300px; height:110px;" align="middle" alt="" /></a>
                        </div>
                        <!--<div class="col-sm-4">
                            <img src="images/sponsors/img/Spons16/toi.jpg" style="width:300px; height:110px;" align="middle" />
                        </div>-->
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                        <p style="font-size:25px; ">Associate Title Sponsors</p>
                        </div>
                       <!-- <div class="col-sm-4">
                        <p style="font-size:25px; font:none; ">Associate Title Sponsor</p>
                        </div>
                        <div class="col-sm-4">
                        <p style="font-size:25px; font:none; ">Associate Title Sponsor</p>
                        </div>-->
                    </div>
                </div>
            </div>

            <!--hero-->
            <div style="padding:20px;"></div>
            <div class="row eventtitle ">
                <div class="col-sm-4 col-sm-offset-4">
                    <a target="_blank" href="http://www.heromotocorp.com">
                    <img src="{% static 'main/images/sponsors/img/Spons16/hero.jpg' %}" class="img-responsive" style="width:250px; height:188px;" />
                    </a>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-sm-4 col-sm-offset-4"><h2>Proshow Partner</h2></div>
            </div>


            <div style="padding:20px;"></div>
             <div style="padding:20px;"></div>

            <!--zebronics-->
            <div style="padding:20px;"></div>
            <div class="row eventtitle ">
                <div class="col-sm-6 col-sm-offset-3">
                    <a target="_blank" href="http://www.zebronics.com">
                    <img src="{% static 'main/images/sponsors/img/Spons16/zebronics.jpg' %}" class="img-responsive" style="width:750px; height:173px;" />
                    </a>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-sm-4 col-sm-offset-4"><h2>Audio Partner</h2></div>
            </div>


            <div style="padding:20px;"></div>
             <div style="padding:20px;"></div>
			 
			 <!--Gabriel-->
            <div style="padding:20px;"></div>
            <div class="row eventtitle ">
                <div class="col-sm-6 col-sm-offset-3">
                    <a target="_blank" href="http://www.gabrielindia.com">
                    <img src="{% static 'main/images/sponsors/img/Spons16/GABRIEL.jpg' %}" class="img-responsive" style="width:433px; height:55px;" />
                    </a>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-sm-4 col-sm-offset-4"><h2>Official Innovation Partner</h2></div>
            </div>


            <div style="padding:20px;"></div>
             <div style="padding:20px;"></div>


            <!--EVENT SPONSOR-->
            <div class="row eventtitle ">
                <div class="col-sm-4"><a href="http://icadiit.com/" target="_blank"><img src="{% static 'main/images/sponsors/img/Spons16/ICAD.png' %}" class="img-responsive" style=" width:200px;
            height:90px;"/> </a></div>
                <div class="col-sm-4"><a href="https://www.bluedart.com/" target="_blank"><img src="{% static 'main/images/sponsors/img/Spons16/DHL-LOGO.jpg' %}" class="img-responsive"/></a></div>
                <div class="col-sm-4"><a href="http://www.altafhvali.com/" target="blank" ><img src="{% static 'main/images/sponsors/img/Spons16/pixlet.jpg' %}" class="img-responsive" style="width:400px;
                height:90px;"/></a></div>
            </div>

            <div class="row text-center">
                <div class="col-sm-4"><h3>Junior Scientist Title Sponsor</h3></div>
                <div class="col-sm-4"><h3>Express Delivery Partner</h3></div>
                <div class="col-sm-4"><h3>Pixellete Sponsor</h3></div>
            </div>
            <div style="padding:20px;"></div>

            <div class="row eventtitle ">
                <div class="col-sm-4"><a href="http://www.tcs.com/Pages/default.aspx" target="_blank"><img src="{% static 'main/images/sponsors/img/Spons16/tcs.jpg' %}" class="img-responsive" /></a> </div>
                <div class="col-sm-4"><a target="_blank" href="http://www.hrmentors.in"><img src="{% static 'main/images/sponsors/img/Spons16/hrmentor.jpg' %}" class="img-responsive" /></a></div>
                <div class="col-sm-4"><a target="_blank" href="https://msg91.com/" ><img src="{% static 'main/images/sponsors/img/Spons16/MSG91.png' %}" class="img-responsive" /></a></div>
            </div>

            <div class="row text-center">
                <div class="col-sm-4"><h3>Technology Partner</h3></div>
                <div class="col-sm-4"><h3>CAT Preparation Partner</h3></div>
                <div class="col-sm-4"><h3> SMS Partner</h3></div>
            </div>
            <div style="padding:20px;"></div>

            <div class="row eventtitle ">
                <div class="col-sm-4"><a target="_blank" href="http://astralcad.com/"><img src="{% static 'main/images/sponsors/img/Spons16/astral.png' %}" class="img-responsive" /></a> </div>
                <div class="col-sm-4"><a target=_blank" href="http://www.gmmco.in/"><img src="{% static 'main/images/sponsors/img/Spons16/HP LOGO HIGH RESOLUTION.jpg' %}" class="img-responsive"style="height:114px; width:94px"/> </a></div>
                <div class="col-sm-4"><a target="_blank" href="http://www.saavn.com/"><img src="{% static 'main/images/sponsors/img/Spons16/savan.png' %}" class="img-responsive" style="width:300px; height:130px;" /></a></div>
              </div>

            <div class="row text-center">
                <div class="col-sm-4"><h3>Mechatryst Event Spnsor</h3></div>
                <div class="col-sm-4"><h3>Major Sponsor</h3></div>
                <div class="col-sm-4"><h3>Music Streaming Partner</h3></div>
                
            </div>

            <div style="padding:20px;"></div>

            <div class="row eventtitle ">
                <div class="col-sm-4"><img src="{% static 'main/images/sponsors/img/Spons16/be.jpg' %}" class="img-responsive" style="width:117px; height:117px;" /></div>
                <div class="col-sm-4 "><img src="{% static 'main/images/sponsors/img/Spons16/gate.jpg' %}" class="img-responsive" style="width:418px; height:117px;" /></div>
                <div class="col-sm-4"><a href="https://partner.yatra.com" target="_balnk"><img src="{% static 'main/images/sponsors/img/Spons16/Yatra Planets.com.png' %}" class="img-responsive"/></a> </div>

            </div>

            <div class="row text-center">
                <div class="col-sm-4"><h3><b>Bee</b><br>Consultancy Partner</h3></div>
                <div class="col-sm-4"><h3>GATE Preparation Partner</h3></div>
                <div class="col-sm-4"><h3>Travel Partner</h3></div>
            </div>

            <div style="padding:20px;"></div>
             <div style="padding:20px;"></div>


            <!--afteraxis  1-->
            <div class="row eventtitle ">
                <div class="col-sm-4"><img src="{% static 'main/images/sponsors/img/Spons16/Barberia Salon Silver Module .jpg' %}" class="img-responsive" style="width:303px; height:96px;" /></div>
                <div class="col-sm-4 "><img src="{% static 'main/images/sponsors/img/Spons16/Hair & Beauy Logo.jpg' %}" class="img-responsive" style="width:308px; height:137px;" /></div>
                <div class="col-sm-4"><a href="https://partner.yatra.com" target="_balnk"><img src="{% static 'main/images/sponsors/img/Spons16/sofi flex 4x2.jpg' %}" class="img-responsive" style="width:360px; height:120px;" /></a> </div>

            </div>

            <div style="padding:20px;"></div>
             <div style="padding:20px;"></div>


            <!--afteraxis  2-->
            <div class="row eventtitle ">
                <div class="col-sm-4"><img src="{% static 'main/images/sponsors/img/Spons16/new_vision.jpg' %}" class="img-responsive" style="width:320px; height:73px;" /></div>
                <div class="col-sm-4 "><img src="{% static 'main/images/sponsors/img/Spons16/robo_studio.png' %}" class="img-responsive" style="width:360px; height:66px;" /></div>
                <div class="col-sm-4"><a href="https://partner.yatra.com" target="_balnk"><img src="{% static 'main/images/sponsors/img/Spons16/Sachin Coaching Classes 17k.png' %}" class="img-responsive" style="width:120px; height:120px;" /></a> </div>

            </div>

            <div style="padding:20px;"></div>
             <div style="padding:20px;"></div>





            <!--afteraxis  3-->
            <div class="row eventtitle ">
                <div class="col-sm-4 col-sm-offset-2"><img src="{% static 'main/images/sponsors/img/Spons16/cakesinn.jpg' %}" class="img-responsive" style="width:216px; height:148px;" /></div>
                <div class="col-sm-4 col-sm-offset-1"><img src="{% static 'main/images/sponsors/img/Spons16/Shabana Bakery Ref. Partner.png' %}" class="img-responsive" style="width:209px; height:167px;" /></div>
                <!--<div class="col-sm-4"><a href="https://partner.yatra.com" target="_balnk"><img src="{% static 'main/images/sponsors/img/Spons16/Sachin Coaching Classes 17k.png' %}" class="img-responsive" style="width:120px; height:120px;" /></a> </div>
                -->
            </div>

            <div style="padding:20px;"></div>
             <div style="padding:20px;"></div>





            <!--canara-->
            <div class="row eventtitle ">
                <div class="col-sm-4 col-sm-offset-4">
                    <a target="_blank" href="http://www.canarabank.com">
                    <img src="{% static 'main/images/sponsors/img/Spons16/canara.jpg' %}" class="img-responsive" style="width:402px; height:113px;" />
                    </a>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-sm-4 col-sm-offset-4"><h2>Banking Partner</h2></div>
            </div>


            <div style="padding:20px;"></div>
             <div style="padding:20px;"></div>


            <!--crepido-->
            <!--socini-->
            <div class="row eventtitle ">
                <div class="col-sm-4 col-sm-offset-4">
                    <a target="_blank" href="http://www.gmmco.in">
                    <img src="{% static 'main/images/sponsors/img/Spons16/gmmco.jpg' %}" class="img-responsive" style="width:179px; height:60px;" />
                    </a>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-sm-4 col-sm-offset-4"><h3>Crepido Event Sponsor</h3></div>
            </div>


            <div style="padding:20px;"></div>
             <div style="padding:20px;"></div>


            <!--socini-->
            <div class="row eventtitle ">
                <div class="col-sm-4 col-sm-offset-2">
                    <a target="_blank" href="http://www.aiesec.in">
                    <img src="{% static 'main/images/sponsors/img/Spons16/aiesec.jpg' %}" class="img-responsive" style="width:263px; height:49px;" />
                    </a>
                </div>
                <div class="col-sm-4 ">
                    <a target="_blank" href="http://www.makeadiff.in/">
                        <img src="{% static 'main/images/sponsors/img/Spons16/mad.jpg' %}" class="img-responsive" style="width:171px; height:91px;" />
                    </a>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-sm-4 col-sm-offset-4"><h2>Social Initiative Partners</h2></div>
            </div>


            <div style="padding:20px;"></div>
             <div style="padding:20px;"></div>


            <div class="row noeventtitle ">
                <div class="col-sm-4 col-sm-offset-2"><a href="http://www.shatam.com/" target="_blank"><img src="{% static 'main/images/sponsors/img/Spons16/SHATAM LOGO.jpg' %}" class="img-responsive" /></a></div>
                <div class="col-sm-4"><img src="{% static 'main/images/sponsors/img/Spons16/sadiq cos lobo.jpg' %}" class="img-responsive" /><br></div>
            </div>

            <div style="padding:20px;"></div>
            <div class="row noeventtitle ">
                <!--<div class="col-sm-4"><img src="{% static 'main/images/sponsors/img/Spons16/Smart Realities.jpg' %}" class="img-responsive" /> </div>-->
                <div class="col-sm-4 col-sm-offset-2"><img src="{% static 'main/images/sponsors/img/Spons16/Rocktech Logo symbol  background jpg rgb 2.jpg' %}" style="width:300px;" class="img-responsive" /></div>
                <div class="col-sm-4 col-sm-offset-1"><a href="http://www.dpjaingroup.com/" target="_balnk"><img src="{% static 'main/images/sponsors/img/Spons16/dp.jpg' %}" class="img-responsive" /></a></div>
            </div>
            <div style="padding:20px;"></div>
            <div class="row noeventtitle ">
                <div class="col-sm-4"><img src="{% static 'main/images/sponsors/img/Spons16/PPE.jpg' %}" class="img-responsive" /> </div>
                <div class="col-sm-4"><img src="{% static 'main/images/sponsors/img/Spons16/Smart Realities.jpg' %}" class="img-responsive" /></div>
                <div class="col-sm-4"><img src="{% static 'main/images/sponsors/img/Spons16/ae.png' %}" class="img-responsive" /> </div>
            </div>
           
            <div style="padding:20px;"></div>
            <div style="padding:20px;"></div>
            <div class="row eventtitle ">
                <div class=""><a href="https://www.hellointern.com/" target="_balnk"><img src="{% static 'main/images/sponsors/img/Spons16/Hello Intern.jpg' %}" class="img-responsive" style="width:300px;" /></a> </div>
            </div>
              <div style="padding:10px;"></div>
            <div class="row text-center">
                <div class=""><h3>Student Internship Partner</h3></div>
            </div>
            <div style="padding:20px;"></div>
            <div class="row eventtitle ">
                <div class=""><a href="http://www.igniteengineers.com/" target="_balnk"><img src="{% static 'main/images/sponsors/img/Spons16/ignite.jpg' %}" class="img-responsive" style="width:340px;"/></a> </div>
            </div>
            <div class="row text-center">
                <div class=""><h3>Student Opportunity Partner</h3></div>
            </div>
            <div style="padding:20px;"></div>
            <div style="padding:20px;"></div>
            <div class="row text-center">
                <div class=""><h2>Workshop Partners</h2></div>
            </div>
             <div style="padding:20px;"></div>
            <div class="row eventtitle ">
                <div class="col-sm-4"><a href="http://www.arktechnosolutions.com/" target="_blank"><img src="{% static 'main/images/sponsors/img/Spons16/ark.jpg' %}" class="img-responsive"  style="height:90px;"/> </a></div>
                <div class="col-sm-4"><img src="{% static 'main/images/sponsors/img/Spons16/htindia-logo (1).jpg' %}" class="img-responsive" style="width:300px;" /></div>
                <div class="col-sm-4"><a href="http://www.hawkeyetechworks.com/" target="_blank"><img src="{% static 'main/images/sponsors/img/Spons16/logo-dark.png' %}" class="img-responsive" style="width:300px;" /></a></div>
            </div>
             <div class="row">
                <div class="col-sm-4"> </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center" ><h4>Hawkeye Techworks </h4></div>
             </div>


            <div class="row text-center">
                <div class=""><h2>Blogging Partner</h2></div>
            </div>



            <div class="row eventtitle ">
                <div class="col-sm-4 col-sm-offset-4"><a href="http://www.blogadda.com/" target="_blank"><img src="{% static 'main/images/sponsors/img/Spons16/blogadda.png' %}" class="img-responsive" style="width:300px;" /></a></div>
            </div>

            <br><br>

            <div class="row text-center">
                <div class=""><h2>Online Media Partner</h2></div>
            </div><br>
            <div class="row eventtitle ">
                <div class="col-sm-4 col-sm-offset-4"><a href="https://www.collegemedia.in/" target="_blank"><img src="{% static 'main/images/sponsors/img/Spons16/end pic.jpg' %}" class="img-responsive" style="width:300px;" /></a></div>
            </div>



            <div style="padding:20px;"></div>
            <div style="padding:20px;"></div>
            <div class="row text-center">
                <div class=""><h2>Online Publicity Partners</h2></div>
            </div>
             <div style="padding:20px;"></div>
            <div class="row eventtitle ">
                <div class="col-sm-4 col-sm-offset-2"><a href="http://www.festpav.com/" target="_blank"><img src="{% static 'main/images/sponsors/img/Spons16/festpav.png' %}" class="img-responsive"  style="height:90px;"/></a> </div>
                <div class="col-sm-4 "><a href="http://ohcampus.com/" target="_blank"><img src="{% static 'main/images/sponsors/img/Spons16/ohcampus.png' %}" class="img-responsive" /></a></div>
                <!--<div class="col-sm-4"><a href="http://www.blogadda.com/" target="_blank"><img src="{% static 'main/images/sponsors/img/Spons16/blogadda.png' %}" class="img-responsive" style="width:300px;" /></a></div>-->
            </div>
             <div style="padding:20px;"></div>
            <div class="row eventtitle ">
                <div class="col-sm-4"><a href="http://dare2compete.com/" target="_balnk"> <img src="{% static 'main/images/sponsors/img/Spons16/dareto.png' %}" class="img-responsive" style="width:250px; height:80px"/></a> </div>
                <div class="col-sm-4"><a href="http://indiacollegefest.com/" target="_blank"><img src="{% static 'main/images/sponsors/img/Spons16/indiacollegefest.com logo.png' %}" class="img-responsive" style="width: 270px; height: 50px;" /><a></div>
                <div class="col-sm-4"><a href="http://fests.info/" target="_blank"><img src="{% static 'main/images/sponsors/img/Spons16/festinfo.png' %}" class="img-responsive" style="height:80px;" /></a></div>
            </div>
              <div style="padding:20px;"></div>
                <div style="padding:20px;"></div>
        </div>

    </div>
    <script src="{% static 'main/js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
</body>
</html>
