{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>AXIS'16 221B BAKER STREET</title>
<link href="{% static 'main/images/logoweb.png' %}" rel="icon">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap-3.3.6.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/event-detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome/css/font-awesome.min.css' %}">
<style>

	input{
        border-radius: 10px; 
    }
    </style>
</head>

<body>
<center>

	<div class="container-fluid">

        <div class="giftcon">
             <i class="fa fa-gift" style="font-size: 44px; color: #FFC815"></i><br>
            <span class="prblm_ul larger"> Prizes worth<br> <span class="price">Rs. 7k</span>
             </span><a target="_blank" href=""> <i class="fa fa-arrow-right priceinfo"></i></a>
        </div>
        
      <div class="row top">
         <!--<a href="../../events.html"><i class="fa fa-arrow-circle-left hidden" id="home"></i></a>-->
    	<div class="axisimg col-md-2 col-md-offset-0">
        	<img src="{% static 'main/images/typowebrr.png' %}" width="160" height="47" alt="axis" />
        </div>
        
        <div class="heding col-md-8 col-md-offset-0">221B BAKER STREET</div>
      </div>
      
      <div class="row">
      
      	<div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#event">EVENT DETAILS</a></li>
            <li><a data-toggle="pill" href="#problem">PROBLEM STATEMENT</a></li>
            <li><a data-toggle="pill" href="#contact_us">CONTACT US</a></li>
            <!--<li><a data-toggle="pill" href="#register">REGISTER</a></li>-->
            </ul>
        <br>
        <div class="tab-content">
            
            <div id="event" class="tab-pane fade in active">
                <p>
                       
                        <!--time-->
        <!--<div class="timecon">
        <abbr title="Time For Revolution">
        <div id="clockdiv" class="clockdiv hidden-xs hidden-sm t-container"  style="box-shadow: 0px 0px 1px 1px #FFFFFF">
          <div class="col-md-offset-0 ">
          	  <img src="{% static 'main/images/timeb.png' %}" alt="time left" style="margin-top:8px;" class="cblink">
              <div class="time col-md-1 col-xs-3">
                  <div class="days"></div>
                  <span class="timetext">D</span>
              </div>

              <div class="time col-md-1 col-xs-3">
                  <div class="hours"></div>
                  <span class="timetext">h</span>
              </div>

              <div class="time col-md-1 col-xs-3">
                  <div class="minutes"></div>
                  <span class="timetext">m</span>
              </div>

              <div class="time col-md-1 col-xs-3">
                  <div class="seconds"></div>
                  <span class="timetext">s</span>
              </div>
          </div>
         </div></abbr></div>-->
              <!--  <div style="margin-left: 195px; font-size: larger" class="prblm_ul">Click <a href="http://axisvnit.org/baker" target=_blank">here</a> to play story mode.
</div>-->
                          

            
                        <div class="prblm_ul" style="text-align: left">                                            
                	Think you can engage in a battle of wits? Addicted to “observing” every invisible obvious detail? Take a                    stroll down 221B Baker Street. This mind boggling maze tests your astute observation skills, deductive                    reasoning and logical thinking. With Google as your Dr Watson encounter nail biting situations as you find                    your way through this labyrinth for at the end only one will be crowned SHERLOCK!
              </div>  </p>
            </div>
            
            <div id="problem" class="tab-pane fade">
                <div class="menuscroll"><p>
                	221B Baker Street is an online quiz event, held on the AXIS ’16 website. It consists of two sub-events,                    General Mode and Story Mode. Instructions specific to each mode will be displayed on the event page prior to                    commencement of the Mode. Both Modes consist of questions in the form of a series of images presented to the                    participant. The participant has to deduce the answer from said image, taking the help of any and all                    resources at her/his disposal. The winner will be judged as the person with the most questions solved in the                    shortest time.<br><br>
                    
                    <span class="larger gm modebox">General Mode - Septmber 11, 2016</span><br><br>
                    It consists of some mind-boggling questions, covering all genres, in classic quizzing style, generally to
                    test the participant’s googling skills, problem solving ability general knowledge and creative thinking.
                    <!--<div class="datebox">11<sup>th</sup> September</div>-->
                    
                    <br><br>
                    
                    <span class="larger gm modebox">Story Mode - Septmber 17, 2016</span><br><br>
                    <span>It presents questions in more continuous format, with questions linking the story and vice versa,<br>i.e.,
                    questions are part of the story itself.</span><br><br>
                    <!--<div class="datebox">17<sup>th</sup> September</div>-->
                    
                </p></div>
            </div>
            
            <div id="contact_us" class="tab-pane fade">
                <p style="text-align:center">
                	
                    <span class="col-lg-4 col-md-offset-1 col-xs-4">
                    <span class="contact_name">PRANAV BHOYAR</span>
                    <br>+91-7028813496
                    <br><a href="mailto:pranavbhoyar9@gmail.com" class="contact_mail">pranavbhoyar9@gmail.com</a></span>
                    
                    <span class="col-lg-3 col-md-offset-3 col-xs-4 col-sm-offset-4">
                    <span class="contact_name">SHREYAS JOSHI</span>
                    <br>+91-8007150268
                    <br><a href="mailto:sjshreyasjoshi@gmail.com" class="contact_mail">sjshreyasjoshi@gmail.com</a></span>
                    
                </p>
            </div>
           <div id="register" class="tab-pane fade">
                <div class="form">
            	<form role="form" class="form-horizontal" method="post" action="{% url 'bakerreg' %}">
                           {% csrf_token %}
                	<div class="form-group-sm ">
                         
                          <br>
                    	  <div class="row">
                            <div class="col-sm-1" >
                    		<div style="font-size:12px; padding-top:10px;" class="prblm_ul"> Member 1</div>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fname" id="fname" placeholder="Name" type="text"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fcollege" id="fcollege" placeholder="College Name" type="text"/>
                           </div>
                           <div class="col-sm-2">
                    		<input class="form-control" name="fmail" id="fmail" placeholder="Email Id" type="email"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fcon" id="fcon" placeholder="Contact" type="text"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fcity" id="fcity" placeholder="City" type="text"/>
                            </div>
                        </div>
                        <br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                   
                      <div class="row">
                    		 
                        <div class="col-sm-12 text-center">
                    		<input class=" btn-warning" type="submit" name="login" id="login" value="Submit"/>
                        </div><br><br><br class="visible-xs">
                        </div><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                    </div>
                </form>	
              </div>
       
       <!-- <p style="font-size:20px; text-align:center;">STARTING SOON
                </p>-->
        </div>
        </div>
        <br>
        </div>
      
      </div>
      
      
      <!--footer-->
      <div class=" footer">
            <div class="container-fluid">
                <div class="col-md-offset-9">
                    <a target="_blank" href="https://www.facebook.com/axisvnit/" class=" social-icon fb">
                        <i class="fa fa-facebook-f"></i>
                     </a>
                     <a target="_blank" href="https://www.linkedin.com/company/axis-vnit-nagpur?trk=biz-companies-cym" class=" social-icon in">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/axisvnit" class=" social-icon tw">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/axis_vnit" class=" social-icon ins">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCjczZvwh0T20yvMLsc5eUkA" class=" google social-icon yt">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
            </div>
        </div>
        
        
        
        
         <!--time-->
       <!-- <div class="timecon">
        <abbr title="Time For Revolution">
        <div id="clockdiv" class="clockdiv hidden-xs hidden-sm time-container">
          <div class="col-md-offset-0 ">
          	  <img src="{% static 'main/images/timeb.png' %}" alt="time left" style="margin-top:8px;" class="cblink">
              <div class="time col-md-1 col-xs-3">
                  <div class="days"></div>
                  <span class="timetext">D</span>
              </div> 
              
              <div class="time col-md-1 col-xs-3">
                  <div class="hours"></div>
                  <span class="timetext">h</span>
              </div>
              
              <div class="time col-md-1 col-xs-3">
                  <div class="minutes"></div>
                  <span class="timetext">m</span>
              </div>
              
              <div class="time col-md-1 col-xs-3">
                  <div class="seconds"></div>
                  <span class="timetext">s</span>
              </div>
          </div>
         </div></abbr></div>-->
        
        
        
    
    </div>

</center>
<script src="{% static 'main/js/jquery-2.2.2.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/bakertime.js' %}"></script>
</body>
</html>
