{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>AXIS'16 FREAK O MATIX</title>
<link href="{% static 'main/images/logoweb.png' %}" rel="icon">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap-3.3.6.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/event-detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome/css/font-awesome.min.css' %}">

<style>

	.nav-pills li{
		padding:0px 5px;
	}
    input{
        border-radius: 10px; 
    }
	

</style>

</head>

<body>
<center>

	<div class="container-fluid">

        <div class="giftcon">
             <i class="fa fa-gift" style="font-size: 44px; color: #FFC815"></i><br>
            <span class="prblm_ul larger"> Prizes worth<br> <span class="price">Rs. 13k</span>
             </span><a target="_blank" href=""> <i class="fa fa-arrow-right priceinfo"></i></a>
        </div>
        
      <div class="row top">
         <!--<a href="../../events.html"><i class="fa fa-arrow-circle-left hidden" id="home"></i></a>-->
    	<div class="axisimg col-md-2 col-md-offset-0">
        	<img src="{% static 'main/images/typowebrr.png' %}" width="160" height="47" alt="axis" />
        </div>
        
        <div class="heding col-md-6 col-md-offset-1">FREAK O MATIX</div>
      </div>
      
      <div class="row">
      
      	<div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#event">EVENT DETAILS</a></li>
            <li><a data-toggle="pill" href="#levels">LEVELS</a></li>
            <li><a data-toggle="pill" href="#rules">RULES</a></li>
            <li><a data-toggle="pill" href="#judge">JUDGING CRITERIA</a></li>
            <li><a data-toggle="pill" href="#faq">FAQ'S</a></li>
            <li><a data-toggle="pill" href="#contact_us">CONTACT US</a></li>
            <!--<li><a data-toggle="pill" href="#register">REGISTER</a></li>-->
            </ul>
        <br>
        <div class="tab-content">
            
            <div id="event" class="tab-pane fade in active">
                <p>
                	Get ready to stress your grey matter and rediscover the Ramanujan in you. Deal with numbers, solve intricate                    puzzles with the degree of toughness ascending with every hurdle. Try not to freak out for, Freak-O-Matrix                    the most challenging mathematical muddle is here.
                </p>
            </div>
            
            <div id="levels" class="tab-pane fade">
                <div class="menuscroll"><p>
                	<ol>
                    	<li class="prblm_ul"><span class="larger">Test your skills :</span><br><br>
	                    <div class="large col-md-2">ONLINE ROUND:</div><div class="dateboxf col-md-5">Click <a target="_blank" href="https://drive.google.com/file/d/0B9H3Um8hNuyTb3BpekdFakU3QXM/view?usp=sharing">here</a>
for the online round. <br>
11<sup>th</sup> September - 18<sup>th</sup> September<br>The latest dates are extended till September 18, 2016 till 12:00 hours.</div><br><br>
		               <br><br> <br>The sums posed are based on logic and arithmetic. They are subjective and test your reasoning.
                        <br>This round also provides a small window for us to peek into your brain. You are allowed to access the                            internet.
                        <br> A deadline, somewhere around a week’s length, will be given to solve these questions.<br>

                        <br><br>
	                    <div class="large col-md-2">OFFLINE ROUND:</div><div class="dateboxf col-md-3">24<sup>th</sup> September - 25<sup>th</sup> September</div><br>
		                <br>
	                    The sums provided must be solved using old-school pen and paper. 
                        <br>Scheduled on the second day of Axis, this round is also comprised of subjective questions. 
                        <br>You are not allowed to access the internet. Three hours will be given to solve the paper. 
                        <br>This event will be held in the VNIT campus.<br><br>
                        </li>
                        
                        <li class="prblm_ul"><span class="larger">Touring VNIT</span><br>
	                    This is a treasure hunt. Teams must follow the clues provided and search for the objects hidden                        throughout the campus.
                         <br>First round qualifiers (from online and offline) will be sorted into groups of 6-8                        contestants.<br> The hunt will be held on the third day of Axis.<br><br>
                        </li>
                        
                        <li class="prblm_ul"><span class="larger">Surprise round:</span><br>	
                        The contestants qualified from second round will be participating in this stage. <br>This is a surprise                        round. This will also be scheduled on the third day of Axis.
                        </li>

                    </ol>  
                </p></div>
            </div>
            
            <div id="rules" class="tab-pane fade">
                <p>
                	•	Calculators are permitted for the first round. Information will be provided for further rounds.<br><br>
                    •	No internet usage will be encouraged at the time of offline rounds.<br><br>
                    •	Stationary, such as pens and paper, will be provided. 
                    <br>All other paraphernalia must be accommodated by the contestant exclusively.<br>

                </p>
            </div>
            
            <div id="judge" class="tab-pane fade">
                <p>
                  <ul>
                  
                	<li class="prblm_ul">Axis and its organisers hold a strict policy on indecency and underhanded means of any                    kind. Do not to use any inappropriate measures in any of the rounds, if found doing so will the contestant                    will be disqualified from the game.</li>
                    <li class="prblm_ul">Judging is held without any external interference.</li>
                    <li class="prblm_ul">The decisions conducted by the Freak-O-Matix team are final.</li>
                    
                  </ul>
                </p>
            </div>
            
            <div id="faq" class="tab-pane fade">
                <div class="menuscroll"><p>
                   <ul>
                	<li class="prblm_ul">If a person gives online paper, is he/she eligible to give offline paper also?
                    <br>Yes, it is up to the interest of contestant he can give both the rounds if they wish.<br>
                    </li><br>
                    <li class="prblm_ul">Is there separate prize money for different rounds?<br>
                    Only online round will have separate prize money for the winner, rest all rounds will not have individual                    prize money.
                    </li><br>
                    <li class="prblm_ul">After online round is it compulsory to come to VNIT for further rounds?<br>
                    Yes, it you want to continue further rounds you should be in VNIT.
                    </li><br>
                    <li class="prblm_ul">I want to take part in more than one event in AXIS. Can I?<br>
                    Yes, you can. AXIS team will make sure there is no clash of events.
                    </li><br>
                    <li class="prblm_ul">Where should we stay during the time of AXIS if we got qualified for next rounds? 
                    <br>Will we be provided with any accommodation?<br>
                     We will try to provide you accommodation if required.
                    </li>
                   </ul>
                </p></div>
            </div>
            
            <div id="contact_us" class="tab-pane fade">
                <p style="text-align:center">
                
                	<span class="col-lg-4 col-md-offset-1 col-xs-5">
                    <span class="contact_name">BHARGAV THEJ REDDY</span>
                    <br>+91-7057254162
                    <br><a href="mailto:bhargavcb9@gmail.com" class="contact_mail">bhargavcb9@gmail.com</a></span>
                    
                    <span class="col-lg-4 col-md-offset-2 col-xs-4 col-sm-offset-3">
                    <span class="contact_name">SUDEEPTHI VEMURI</span>
                    <br>+91-9049532362
                    <br><a href="mailto:sudeepthivemuri@gmail.com" class="contact_mail">sudeepthivemuri@gmail.com</a></span>
                
                </p>
            </div>
            
           
                         <div id="register" class="tab-pane fade">
                 <div class="form">
            	<form role="form" class="form-horizontal" method="post" action="{% url 'freakoreg' %}">
                    {% csrf_token %}
                	<div class="form-group-sm ">
                          <div class="row">
                             <div class="col-sm-2" >
                    		<div style="font-size:18px; padding-top:10px;" class="prblm_ul larger">Team Name</div>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="team" id="team" placeholder="Name" type="text"/>
                            </div>
                          </div>
                          <br>
                    	  <div class="row">
                            <div class="col-sm-1" >
                    		<div style="font-size:12px; padding-top:10px;" class="prblm_ul"> Member 1</div>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fname" id="fname" placeholder="Name" type="text"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fcollege" id="fcollege" placeholder="College Name" type="text"/>
                           </div>
                           <div class="col-sm-2">
                    		<input class="form-control" name="fmail" id="fmail" placeholder="Email Id" type="email"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fcon" id="fcon" placeholder="Contact" type="text"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fcity" id="fcity" placeholder="City" type="text"/>
                            </div>
                        </div>
                        <br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                      <div class="row">
                            <div class="col-sm-1" >
                    		<div style="font-size:12px; padding-top:10px;" class="prblm_ul"> Member 2</div>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="sname" id="sname" placeholder="Name" type="text"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="scollege" id="scollege" placeholder="College Name" type="text"/>
                           </div>
                           <div class="col-sm-2">
                    		<input class="form-control" name="smail" id="smail" placeholder="Email Id" type="email"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="scon" id="scon" placeholder="Contact" type="text"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="scity" id="scity" placeholder="City" type="text"/>
                            </div>
                        </div>
                        <br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                     
                      <div class="row">
                    		 
                        <div class="col-sm-12 text-center">
                    		<input class=" btn-warning" type="submit" name="login" id="login" value="Submit"/>
                        </div><br><br><br class="visible-xs">
                        </div><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                    </div>
                </form>	
            </div>
        
        </div>
        
        </div>
        <br>
        </div>
      
      </div>
      
      
      <!--footer-->
      <div class=" footer">
            <div class="container-fluid">
                <div class="col-md-offset-9">
                    <a target="_blank" href="https://www.facebook.com/axisvnit/" class=" social-icon fb">
                        <i class="fa fa-facebook-f"></i>
                     </a>
                     <a target="_blank" href="https://www.linkedin.com/company/axis-vnit-nagpur?trk=biz-companies-cym" class=" social-icon in">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/axisvnit" class=" social-icon tw">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/axis_vnit" class=" social-icon ins">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCjczZvwh0T20yvMLsc5eUkA" class=" google social-icon yt">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
            </div>
        </div>
        
        
        
        
         <!--time-->
        <div class="timecon">
        <abbr title="Time For Revolution">
        <!--<div id="clockdiv" class="clockdiv hidden-xs hidden-sm time-container">
          <div class="col-md-offset-0 ">
          	  <img src="{% static 'main/images/timeb.png' %}" alt="time left" style="margin-top:8px;" class="cblink">
              <div class="time col-md-1 col-xs-3">
                  <div class="days"></div>
                  <span class="timetext">D</span>
              </div> 
              
              <div class="time col-md-1 col-xs-3">
                  <div class="hours"></div>
                  <span class="timetext">h</span>
              </div>
              
              <div class="time col-md-1 col-xs-3">
                  <div class="minutes"></div>
                  <span class="timetext">m</span>
              </div>
              
              <div class="time col-md-1 col-xs-3">
                  <div class="seconds"></div>
                  <span class="timetext">s</span>
              </div>
          </div>
         </div>--></abbr></div>
        
        
        
    
    </div>

</center>
<script src="{% static 'main/js/jquery-2.2.2.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/time.js' %}"></script>
</body>
</html>
