{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>AXIS'16 ANIMAZIONE</title>
<link href="{% static 'main/images/logoweb.png' %}" rel="icon">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap-3.3.6.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/event-detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome/css/font-awesome.min.css' %}">

<style>

	.nav-pills li{
		padding:0px 5px;
	}
		input{
        border-radius: 10px; 
    }

</style>

</head>

<body>
<center>

	<div class="container-fluid">

        <div class="giftcon">
             <i class="fa fa-gift" style="font-size: 44px; color: #FFC815"></i><br>
            <span class="prblm_ul larger"> Prizes worth<br> <span class="price">Rs. 7k</span>
             </span><a target="_blank" href=""> <i class="fa fa-arrow-right priceinfo"></i></a>
        </div>
        
      <div class="row top">
         <!--<a href="../../events.html"><i class="fa fa-arrow-circle-left hidden" id="home"></i></a>-->
    	<div class="axisimg col-md-2 col-md-offset-0">
        	<img src="{% static 'main/images/typowebrr.png' %}" width="160" height="47" alt="axis" />
        </div>
        
        <div class="heding col-md-3 col-md-offset-2">ANIMAZIONE</div>
      </div>
      
      <div class="row">
      
      	<div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#event">EVENT DETAILS</a></li>
            <li><a data-toggle="pill" href="#problem">PROBLEM STATEMENT</a></li>
            <li><a data-toggle="pill" href="#rules">RULES</a></li>
            <li><a data-toggle="pill" href="#terms">T&amp;C's</a></li>
            <li><a data-toggle="pill" href="#judge">JUDGING CRITERIA</a></li>
            <li><a data-toggle="pill" href="#faq">FAQ</a></li>
            <li><a data-toggle="pill" href="#contact_us">CONTACT US</a></li>
            <!--<li><a data-toggle="pill" href="#register">REGISTER</a></li>-->
            </ul>
        <br>
        <div class="tab-content">
            
            <div id="event" class="tab-pane fade in active">
              <p>
                 Breathe life into any one of the topics described in the problem statements by making a 3D, 2D or Stick Figure Animation video, jazz it up with multifarious characters and animated effects to exemplify your unique perception of the topic, and showcase your originality and ingenuity to enthral the judges and sweep them off their feet!</p>
            </div>
            
            <div id="problem" class="tab-pane fade">
                <p>
                    <ul style="text-align:left;color:white;">
                        <li style="text-align:left;color:white;font-weight:100">
                            <p>

                                 <b>TIME TRAVEL</b>, that is movement between different points in time, is a fascinating concept that held human fancy since time immemorial. One of mankind’s wildest fantasies, it has been a  mind-boggling thing. And ironically enough, it’s probably impossible!
                                </p>
                        </li>
                         <li style="text-align:left;color:white;font-weight:100">
                               <p>
                                   Ever wondered how a basket of eggs feel, as you take them out of the boiling pan one-by-one, peel one of their friends as the others watch in sheer agony, and proceed to brutally mutilate each by slicing your careless knife through their warm bodies? What if inanimate objects could talk and express their feelings? The second problem statement, <b>REACTIONS OF THINGS</b>, invites you to get your creative juices flowing and come up with something hilarious (or maybe downright atrocious), and showcase to the world that inanimate objects do have feelings!
                                  </p>
                         </li>
                    </ul>
                	</p>
            </div>
            
            <div id="rules" class="tab-pane fade">
                <div class="menuscroll"><p>
                  <ol>
                	<li class="prblm_ul">
                    The participants may be a student of animation/academic institution or a freelancer or even a professional.
                    </li>
                    <li class="prblm_ul">
                    Entries can be submitted individually or in group (max 2 member).
                    </li>
                    <li class="prblm_ul">
                    Participants can use still images (any format), Basic animated objects or small video clips.
                    </li>
                    <li class="prblm_ul">
                    Participants can use any software of his/her choice (Adobe After Effects, Adobe Photoshop, Blender,<br> 
                    3D Studio Max, Maya, Cinema 4D, etc.).
                    </li>
                    <li class="prblm_ul">
                    Each participant can submit only a single entry; in case of multiple entries latest one will be considered.
                    </li>
                    <li class="prblm_ul">
                    The video of the above theme should be of at least 1 minute (Note: The time slot excluding Animazione                    <br>Pre-loader and an unnecessary long introduction).
                    </li>
                    <li class="prblm_ul">Entry must contain the Animazione Pre-loader (To be updated soon).</li>
                    <li class="prblm_ul">
                    Entry must contain a small 'www.axisvnit.org' text in the top/Bottom right corner of the entire animation                    <br>(including credits) linking to AXIS’16.
                    </li>
                    <li class="prblm_ul">
                    Deadline for entries for ANIMAZIONE is September 18<sup>th</sup>, 2016. Any entry after the deadline shall not be accepted.
                    </li>
                    <li class="prblm_ul">
                    Entry must have at least WVGA resolution (768 × 480). Aspect ratio doesn't matters.
                    </li>
                    <li class="prblm_ul">
                    Entry can be submitted in any of the popular format.
                    </li>
                    <li class="prblm_ul">
                    Do not put your name or contact info anywhere on the actual video (Same can be done in credits).
                    </li>
                    <li class="prblm_ul">
                    Entry must not be released to the general public until released by Animazione.
                    </li>
                    <li class="prblm_ul">
                    Once an Entry is submitted, it cannot be withdrawn from the competition.
                    </li>
                    </ol>
                </p></div>
            </div>
            
            <div id="terms" class="tab-pane fade">
                <p>
                	<ul>
                    <li class="prblm_ul">
                    ANIMAZIONE is not responsible for any claims and rights of the copyright holders, if any in literary                    ,dramatic ,musical ,or other material ,including stories ,plays ,scripts , scenarios, themes ,incidents,                    plots, characteristics, themes, incidents, plots, music appearing used or recorded in your film. You agree to                    take on all copyright liability in regard to the submitted film.
                    </li>
                    <li class="prblm_ul">
                    By submitting your film, you grant ANIMAZIONE the permission to use your film (in part or whole) for the                    purpose of promoting and advertising ANIMAZIONE and future festivals. You consent to your film being                    available for viewing by the ANIMAZIONE jury members, media and general public.
                    </li>
                    <li class="prblm_ul">
                    ANIMAZIONE may periodically revise the terms of this agreement by updating this page. You should periodically                    visit this page to review the current terms of service.
                    </li>
                    </ul>
                    
                </p>
            </div>
            
            <div id="judge" class="tab-pane fade">
                <div class="menuscroll"><p>
                
                	Winners are judged by jury of invited industry professionals. All jury decisions are final and binding.
                    <br><br>Any overtly offensive content as judged by the jury stands disqualified.<br><br>
                    Judging will include following criteria :
                    <ol>
                    <li class="prblm_ul">
                    <b>Originality/creativity</b><br>
                    Is this entry a new idea? Or have we seen it dozens of times before?
                    </li>
                    <li class="prblm_ul">
                    <b>Theme match</b><br>
                    How well does this submission relate to the theme?
                    </li>
                    <li class="prblm_ul">
                    <b>Technical difficulty</b><br>
                    How technically challenging is the implementation?
                    </li>
                    <li class="prblm_ul"><b>Quality</b><br>
                    How well is it executed? Does it have especially attractive original graphics?
                    </li>
                    <li class="prblm_ul">
                    Good submissions do not need to score highly on all criteria, but should aim to score high on several of the                    criteria,<br> and not too low on any.
                    </li>
                   </ol>
                </p></div>
            </div>
            
            <div id="faq" class="tab-pane fade">
                <div class="menuscroll"><p>
                  <ol>
                  <li class="prblm_ul">
                	What is the difference in animation 2D and 3D?<br>
                    The most obvious difference between the two genres of animation is the three dimensional characteristics<br>                     or the appearance of depth. 2D animation is created by drawing almost every frame of the animated<br> movie                     and is the base of 3D animation. 3D animation is created by changing the poses and the<br> placement of                     already created 3D models. It has more depth and is more realistic, it is a series of<br> images/ objects                     created using computers or any other digital media.
                  </li>  
                  <li class="prblm_ul"> How do I submit my entry to the competition?<br>
                  Submission can be done by uploading video to youtube followed by sharing link to animazione@axisvnit.org<br>                  with subject “{EVENT-ID}, Animazione AXIS'16”.
                  </li>
                  <li class="prblm_ul">How many people can be in a team?<br>
                  Team member limits are: Minimum 1, maximum 2.
                  </li>
                  <li class="prblm_ul">I am older than 19 – can I enter?<br>
                  Yes, there is no age restriction.
                  </li>
                  <li class="prblm_ul"> Can I make a film about anything I want?<br>
                  Your animation can be about anything you want, with one constraint: it must satisfy problem statement<br> and                  should not violate any of the rules – the only limit is your imagination!
                  </li>
                 <li class="prblm_ul"> My film is longer than 1 minute. Will it be considered ?<br>
                  Yes, provided it does not exceed 2 minute.
                  </li>
                  <li class="prblm_ul"> My film is smaller than 1 minute. Will it be considered ?<br>
                  No, minimum limit is 1 minute.
                  </li>
                  <li class="prblm_ul">Can I use copyrighted material such as music or images in an animation?<br>
                  Sure, as long as you own the copyright to that material i.e. you have obtained a copy legally.<br> If your                   entry incorporates music or sound samples, or images, or any material you have obtained from some<br> other                   source, you must own the rights to use that material. If you don’t have rights to use the material, then,<br>                   if you win a prize in our competition, and your work is displayed publically, you may find yourself in breach                   of copyright.
                  </li>
                  <li class="prblm_ul">Can I use any program to make my animation ?<br>
                   Yes.
                   </li>
                  </ol>
                </p></div>
            </div>
            
            <div id="contact_us" class="tab-pane fade">
                <p style="text-align:center">
                
                	<span class="col-lg-4 col-md-offset-1 col-xs-4">
                    <span class="contact_name">DINESH REDDY</span>
                    <br>+91-9130613719
                    <br><a href="mailto:dinesh310896@gmail.com" class="contact_mail">dinesh310896@gmail.com</a></span>
                    
                    <span class="col-lg-3 col-md-offset-3 col-xs-4 col-sm-offset-4">
                    <span class="contact_name">MANISHA TANDRA</span>
                    <br>+91-7028611996
                    <br><a href="mailto:manishatandra.12@gmail.com" class="contact_mail">manishatandra.12@gmail.com</a></span>
                    
                <br><br><br><br><br>
                
                    <span class="col-lg-4 col-md-offset-4 col-xs-4 col-sm-offset-4">
                    <span class="contact_name">PARVATHI PRAGNA</span>
                    <br>+91-9494872571
                    <br><a href="mailto:parvathipragna912@gmail.com" class="contact_mail">parvathipragna912@gmail.com</a></span>
                
                </p>
            </div>
            
              <div id="register" class="tab-pane fade">
                <div class="form">
                    <form role="form" class="form-horizontal" method="post" action="{% url 'animreg' %}">
                        {% csrf_token %}
                        <div class="form-group-sm ">
                            <div class="row">
                                <div class="col-sm-2" >
                                <div style="font-size:18px; padding-top:10px;" class="prblm_ul larger">Team Name</div>
                                </div>
                                <div class="col-sm-2">
                                <input class="form-control" name="team" id="team" placeholder="Name" type="text"/>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-1" >
                                <div style="font-size:12px; padding-top:10px;" class="prblm_ul"> Member 1</div>
                                </div>
                                <div class="col-sm-2">
                                <input class="form-control" name="fname" id="fname" placeholder="Name" type="text"/>
                                </div>
                                <div class="col-sm-2">
                                <input class="form-control" name="fcollege" id="fcollege" placeholder="College Name" type="text"/>
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control" name="fmail" id="fmail" placeholder="Email Id" type="email"/>
                                </div>
                                <div class="col-sm-2">
                                <input class="form-control" name="fcon" id="fcon" placeholder="Contact" type="text"/>
                                </div>
                                <div class="col-sm-2">
                                <input class="form-control" name="fcity" id="fcity" placeholder="City" type="text"/>
                                </div>
                            </div>
                            <br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                        <div class="row">
                                <div class="col-sm-1" >
                                <div style="font-size:12px; padding-top:10px;" class="prblm_ul"> Member 2</div>
                                </div>
                                <div class="col-sm-2">
                                <input class="form-control" name="sname" id="sname" placeholder="Name" type="text"/>
                                </div>
                                <div class="col-sm-2">
                                <input class="form-control" name="scollege" id="scollege" placeholder="College Name" type="text"/>
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control" name="smail" id="smail" placeholder="Email Id" type="email"/>
                                </div>
                                <div class="col-sm-2">
                                <input class="form-control" name="scon" id="scon" placeholder="Contact" type="text"/>
                                </div>
                                <div class="col-sm-2">
                                <input class="form-control" name="scity" id="scity" placeholder="City" type="text"/>
                                </div>
                            </div>
                            <br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                        <div class="row">
                                
                            <div class="col-sm-12 text-center">
                                <input class=" btn-warning" type="submit" name="login" id="login" value="Submit"/>
                            </div><br><br><br class="visible-xs">
                            </div><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                        </div>
                    </form>	
              </div>
           </div>
        
        </div>
        <br>
        </div>
      
      </div>
      
      
      <!--footer-->
      <div class=" footer">
            <div class="container-fluid">
                <div class="col-md-offset-9">
                    <a target="_blank" href="https://www.facebook.com/axisvnit/" class=" social-icon fb">
                        <i class="fa fa-facebook-f"></i>
                     </a>
                     <a target="_blank" href="https://www.linkedin.com/company/axis-vnit-nagpur?trk=biz-companies-cym" class=" social-icon in">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/axisvnit" class=" social-icon tw">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/axis_vnit" class=" social-icon ins">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCjczZvwh0T20yvMLsc5eUkA" class=" google social-icon yt">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
            </div>
        </div>
        
        
        
        
         <!--time-->
        <div class="timecon">
        <abbr title="Time For Revolution">
        <!--<div id="clockdiv" class="clockdiv hidden-xs hidden-sm time-container">
          <div class="col-md-offset-0 ">
          	  <img src="{% static 'main/images/timeb.png' %}" alt="time left" style="margin-top:8px;" class="cblink">
              <div class="time col-md-1 col-xs-3">
                  <div class="days"></div>
                  <span class="timetext">D</span>
              </div> 
              
              <div class="time col-md-1 col-xs-3">
                  <div class="hours"></div>
                  <span class="timetext">h</span>
              </div>
              
              <div class="time col-md-1 col-xs-3">
                  <div class="minutes"></div>
                  <span class="timetext">m</span>
              </div>
              
              <div class="time col-md-1 col-xs-3">
                  <div class="seconds"></div>
                  <span class="timetext">s</span>
              </div>
          </div>
         </div>--></abbr></div>
        
        
        
    
    </div>

</center>
<script src="{% static 'main/js/jquery-2.2.2.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/time.js' %}"></script>
</body>
</html>
