/* CSS Document */

 .ex5 { 
            position: relative;
            -webkit-animation-name: example; /* Chrome, Safari, Opera */
            -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
            animation-name: example1;
            animation-duration: 0.5s;
             -moz-animation-name: example1;
            -o-animation-duration: 0.5s;
             -moz-animation-name: example1;
            -o-animation-duration: 0.5s;
        }
     .ex4 { 
          
            position: relative;
            -webkit-animation-name: example; /* Chrome, Safari, Opera */
            -webkit-animation-duration: 0.6s; /* Chrome, Safari, Opera */
            -webkit-animation-delay:0s;
            animation-name: example1;
            animation-duration: 0.6s;
            animation-delay:0s;
            -moz-animation-name: example1;
            -moz-animation-duration: 0.6s;
            -moz-animation-delay:0s;
            -o-animation-name: example1;
            -o-animation-duration: 0.6s;
            -o-animation-delay:0s;
        }
     .ex3 { 
          
            position: relative;
            -webkit-animation-name: example; /* Chrome, Safari, Opera */
            -webkit-animation-duration: 0.8s; /* Chrome, Safari, Opera */
            -webkit-animation-delay: 0s; 
            animation-name: example1;
            animation-duration: 0.8s;
            animation-delay:0s;
            -moz-animation-name: example1;
            -moz-animation-duration: 0.8s;
            -moz-animation-delay:0s;
             -o-animation-name: example1;
            -o-animation-duration: 0.8s;
            -o-animation-delay:0s;
        }
    .ex2 {
        position: relative;
        -webkit-animation-name: example; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        -webkit-animation-delay: 0s;
        animation-name: example1;
        animation-duration: 1s;
        animation-delay: 0s;
         -moz-animation-name: example1;
        -moz-animation-duration: 1s;
        -moz-animation-delay: 0s;
         -o-animation-name: example1;
        -o-animation-duration: 1s;
        -o-animation-delay: 0s;
    }
     .ex1 { 
          
            position: relative;
            -webkit-animation-name: example; /* Chrome, Safari, Opera */
            -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
            -webkit-animation-delay: 0s;
            animation-name: example1;
            animation-duration: 1.5s;
            animation-delay:0s;
             -moz-animation-name: example1;
            -moz-animation-duration: 1.5s;
            -moz-animation-delay:0s;
             -o-animation-name: example1;
            -o-animation-duration: 1.5s;
            -o-animation-delay:0s;
        }
    @keyframes example1 {
        0% {
            opacity:0;
            left: 300px;
            top: 0px;
        }
        10% {
            opacity:1;
           
            top: 0px;
        }
        100% {
            left: 0px;
            top: 0px;
        }
    }
    .image {
         position: relative;
            -webkit-animation-name: example; /* Chrome, Safari, Opera */
            -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
            -webkit-animation-timing-function: linear;
            animation-name: imgc;
            animation-duration: 1s;
            animation-timing-function:linear;
             -moz-animation-name: imgc;
            -moz-animation-duration: 1s;
            -moz-animation-timing-function:linear;
             -o-animation-name: imgc;
            -o-animation-duration: 1s;
            -o-animation-timing-function:linear;
    }
    @keyframes imgc {
        0% {
            right: 700px;
            top: 0px;
        }
        
        100% {
            right: 0px;
            top: 0px;
        }
    }
     @-webkit-keyframes imgc {
        0% {
            right: 700px;
            top: 0px;
        }
        
        100% {
            right: 0px;
            top: 0px;
        }
    }
     @-moz-keyframes imgc {
        0% {
            right: 700px;
            top: 0px;
        }
        
        100% {
            right: 0px;
            top: 0px;
        }
    }
     @-o-keyframes imgc {
        0% {
            right: 700px;
            top: 0px;
        }
        
        100% {
            right: 0px;
            top: 0px;
        }
    }
    .eveeffect {
    animation:eveffect 1.5s linear;
    -moz-animation:eveffect 1.5s linear;
    -o-animation:eveffect 1.5s linear;
    -webkit-animation:eveffect 1.5s linear;
    }
    @keyframes eveffect{
        0%{
            opacity:0;
        }
        50% {
            opacity:0;
        }
        100%{
            opacity:1;
        }
    }
     @-webkit-keyframes eveffect{
        0%{
            opacity:0;
        }
        50% {
            opacity:0;
        }
        100%{
            opacity:1;
        }
    }
     @-moz-keyframes eveffect{
        0%{
            opacity:0;
        }
        50% {
            opacity:0;
        }
        100%{
            opacity:1;
        }
    }
     @-o-keyframes eveffect{
        0%{
            opacity:0;
        }
        50% {
            opacity:0;
        }
        100%{
            opacity:1;
        }
    }