/* CSS Document */

/* entire container, keeps perspective */
.flip-container {
	perspective: 0px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
	}

/*.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}*/

/* flip speed goes here */
.flipper {
	transition: 1.5s;
	transform-style: preserve-3d;
		-webkit-transition: 1.5s;
	-webkit-transform-style: preserve-3d;
		-moz-transition: 1.5s;
	-moz-transform-style: preserve-3d;
		-o-transition: 1.5s;
	-o-transform-style: preserve-3d;

	/*position: relative;*/
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	height:inherit;
	top:0px;
	left: 0px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}