{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>AXIS'16 BRAINSTORM</title>
<link href="{% static 'main/images/logoweb.png' %}" rel="icon">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap-3.3.6.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/event-detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome/css/font-awesome.min.css' %}">
<style>

	
	input{
        border-radius: 10px; 
    }
    

</style>
</head>

<body>
<center>

	<div class="container-fluid">

        <div class="giftcon">
             <i class="fa fa-gift" style="font-size: 44px; color: #FFC815"></i><br>
            <span class="prblm_ul larger"> Prizes worth<br> <span class="price">Rs. 5k</span>
             </span><a target="_blank" href=""> <i class="fa fa-arrow-right priceinfo"></i></a>
        </div>
        
      <div class="row top">
         <!--<a href="../../events.html"><i class="fa fa-arrow-circle-left hidden" id="home"></i></a>-->
    	<div class="axisimg col-md-2 col-md-offset-0">
        	<img src="{% static 'main/images/typowebrr.png' %}" width="160" height="47" alt="axis" />
        </div>
        
        <div class="heding col-md-3 col-md-offset-2">BRAINSTORM</div>
      </div>
      
      <div class="row">
      
      	<div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#event">EVENT DETAILS</a></li>
            <li><a data-toggle="pill" href="#levels">LEVELS</a></li>
            <li><a data-toggle="pill" href="#contact_us">CONTACT US</a></li>
            <!--<li><a data-toggle="pill" href="#register">REGISTER</a></li>-->
            </ul>
        <br>
        <div class="tab-content">
            
            <div id="event" class="tab-pane fade in active">
                <p>
                	A Nagpur citywide quiz contest tailored specifically for all the quizzing enthusiasts out there.
                    Brainstorm not only incorporates the time honoured General Knowledge and Current Affairs topics, but also                    includes questions on technology, in keeping up with the heart and soul of a techfest. Let’s see if you have                    the IQ to crack the AQ (AXIS Quiz!) , the Orange City’s first ever TechQuiz!
                </p>
            </div>
            
            <div id="levels" class="tab-pane fade">
                <p>
                    Brainstorm consists of two levels.
                    <ul>
                    <li class="prblm_ul"> Level 1 is a Nagpur city-wide pen and paper round,
                    comprising of 20 general knowledge and current affairs
                    based questions to be solved in a time duration of 30 minutes.
                    Every team consists of 2 participants. The top winning team from
                    every participating college of Level 1 will be invited for Level 2
                    at the VNIT Campus during AXIS’16.</li><br>

                    <li class="prblm_ul"> Level 2 will challenge quizzers in
                    various fields through various interactive and innovative rounds. So, gear
                    up and be ready to brainstorm!</li>
                </ul>
                </p>
            </div>
            
            <div id="contact_us" class="tab-pane fade">
                <p style="text-align: center">

                    <span class="col-lg-4 col-md-offset-1 col-xs-4">
                    <span class="contact_name">RUCHA NAIK</span>
                    <br>+91-9168076894
                    <br><a href="mailto:naikrucha@live.com" class="contact_mail">naikrucha@live.com</a></span>

                    <span class="col-lg-3 col-md-offset-3 col-xs-4 col-sm-offset-4">
                    <span class="contact_name">SREELAKSHMI RAJESH</span>
                    <br>+91-7387246402
                    <br><a href="mailto:sreelakshmir17@gmail.com" class="contact_mail">sreelakshmir17@gmail.com</a></span>

                </p>
            </div>
            
            <div id="register" class="tab-pane fade">
               <div class="form">
            	<form role="form" class="form-horizontal" method="post" action="brainreg">
                    {% csrf_token %}
                	<div class="form-group-sm ">
                          <!--<div class="row">
                             <div class="col-sm-2" >
                    		<div style="font-size:18px; padding-top:10px;" class="prblm_ul larger">Team Name</div>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="team" id="team" placeholder="Name" type="text"/>
                            </div>
                          </div>
                          <br>-->
                    	  <div class="row">
                            <div class="col-sm-1" >
                    		<div style="font-size:12px; padding-top:10px;" class="prblm_ul"> Member 1</div>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fname" id="fname" placeholder="Name" type="text"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fcollege" id="fcollege" placeholder="College Name" type="text"/>
                           </div>
                           <div class="col-sm-2">
                    		<input class="form-control" name="fmail" id="fmail" placeholder="Email Id" type="email"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fcon" id="fcon" placeholder="Contact" type="text"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fcity" id="fcity" placeholder="City" type="text"/>
                            </div>
                        </div>

                        <br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">

                        <div class="row">
                            <div class="col-sm-1" >
                    		<div style="font-size:12px; padding-top:10px;" class="prblm_ul"> Member 2</div>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="sname" id="sname" placeholder="Name" type="text"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="scollege" id="scollege" placeholder="College Name" type="text"/>
                           </div>
                           <div class="col-sm-2">
                    		<input class="form-control" name="smail" id="smail" placeholder="Email Id" type="email"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="scon" id="scon" placeholder="Contact" type="text"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="scity" id="scity" placeholder="City" type="text"/>
                            </div>
                        </div>

                        <br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">

                      <div class="row">
                    		 
                        <div class="col-sm-12 text-center">
                    		<input class=" btn-warning" type="submit" name="login" id="login" value="Submit"/>
                        </div><br><br><br class="visible-xs">
                        </div><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">

                    </div>
                </form>	
            </div>
            <!--<p style="text-align:center;font-size:30px;">Starting Soon .</p>-->
        
        </div>
        
        </div>
        <br>
        </div>
      
      </div>
      
      
      <!--footer-->
      <div class=" footer">
            <div class="container-fluid">
                <div class="col-md-offset-9">
                    <a target="_blank" href="https://www.facebook.com/axisvnit/" class=" social-icon fb">
                        <i class="fa fa-facebook-f"></i>
                     </a>
                     <a target="_blank" href="https://www.linkedin.com/company/axis-vnit-nagpur?trk=biz-companies-cym" class=" social-icon in">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/axisvnit" class=" social-icon tw">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/axis_vnit" class=" social-icon ins">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCjczZvwh0T20yvMLsc5eUkA" class=" google social-icon yt">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
            </div>
        </div>
        
        
        
        
         <!--time-->
        <div class="timecon">
        <abbr title="Time For Revolution">
        <!--<div id="clockdiv" class="clockdiv hidden-xs hidden-sm time-container">
          <div class="col-md-offset-0 ">
          	  <img src="{% static 'main/images/timeb.png' %}" alt="time left" style="margin-top:8px;" class="cblink">
              <div class="time col-md-1 col-xs-3">
                  <div class="days"></div>
                  <span class="timetext">D</span>
              </div> 
              
              <div class="time col-md-1 col-xs-3">
                  <div class="hours"></div>
                  <span class="timetext">h</span>
              </div>
              
              <div class="time col-md-1 col-xs-3">
                  <div class="minutes"></div>
                  <span class="timetext">m</span>
              </div>
              
              <div class="time col-md-1 col-xs-3">
                  <div class="seconds"></div>
                  <span class="timetext">s</span>
              </div>
          </div>
         </div>--></abbr></div>
        
        
        
    
    </div>

</center>
<script src="{% static 'main/js/jquery-2.2.2.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/time.js' %}"></script>
</body>
</html>
