{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>AXIS'16 ELECTROBLITZ</title>
<link href="{% static 'main/images/logoweb.png' %}" rel="icon">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap-3.3.6.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/event-detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome/css/font-awesome.min.css' %}">
<style>

	input{
        border-radius: 10px; 
    }
    .nav-pills li{
		padding:0px 5px;
	}
    

</style>
</head>

<body>
<center>

	<div class="container-fluid">

        <div class="giftcon">
             <i class="fa fa-gift" style="font-size: 44px; color: #FFC815"></i><br>
            <span class="prblm_ul larger"> Prizes worth<br> <span class="price">Rs. 7k</span>
             </span><a target="_blank" href=""> <i class="fa fa-arrow-right priceinfo"></i></a>
        </div>
        
      <div class="row top">
         <!--<a href="../../events.html"><i class="fa fa-arrow-circle-left hidden" id="home"></i></a>-->
    	<div class="axisimg col-md-2 col-md-offset-0">
        	<img src="{% static 'main/images/typowebrr.png' %}" width="160" height="47" alt="axis" />
        </div>
        
        <div class="heding col-md-7 col-md-offset-1">ELECTROBLITZ</div>
      </div>
      
      <div class="row">
      
      	<div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#event">ABOUT</a></li>
            <!--<li><a data-toggle="pill" href="#problem">PROBLEM STATEMENT</a></li>-->
            <li><a data-toggle="pill" href="#rounds">EVENT STRUCTURE</a></li>
            <li><a data-toggle="pill" href="#rules">RULES</a></li>
            <li><a data-toggle="pill" href="#contact_us">CONTACT US</a></li>
            <!--<li><a data-toggle="pill" href="#register">REGISTER</a></li>-->
            </ul>
        <br>
        <div class="tab-content">
            
            <div id="event" class="tab-pane fade in active">
                <p>
                	"If I had an hour to solve a problem I would spend 55 minutes defining it and then 5 minutes solving it. "
                      <br><span class="col-md-offset-8">-Albert Einstein</span><br><br>
                    Initiating an all new contest "ELECTROBLITZ" that will test you to put together the jigsaw puzzle of electrical components
                    and logic gates, one at a time to create a big picture! <br>
                    Are you the next Tesla, Faraday or Volta? Is your room a junkyard of transistors, and nose
                    habituated to the burning smell of solder? Do you have a proclivity to debug electronic circuits
                    and design new ones? Then here’s your chance to showcase your electroholic skills and win cool prizes.
                    <br><br>
                    ELECTROBLITZ is a technical event in which your knowledge about basic electrical and electronics
                    will be tested on the basis of 3 rounds. So brush up your skills and get ready to face the challenge of “THE GAME OF CIRCUITS”.
                </p>
            </div>
            
            <div id="problem" class="tab-pane fade">
                <p style="font-size:20px; text-align:center;">BRIEF COMING SOON
                </p>
            </div>
            
            <div id="contact_us" class="tab-pane fade">
               <p style="text-align: center">

                   <span class="col-lg-3 col-md-offset-1 col-xs-4">
                    <span class="contact_name">SANKET THAKARE</span>
                    <br>+91-9028694342
                    <br><a href="mailto:thakaresanket7@gmail.com" class="contact_mail">thakaresanket7@gmail.com</a></span>

                    <span class="col-lg-3 col-md-offset-3 col-xs-4 col-xs-offset-4">
                    <span class="contact_name">SWAPNIL BHOLE</span>
                    <br>+91-9765191060
                    <br><a href="mailto:swapnil.rajendra@gmail.com" class="contact_mail">swapnil.rajendra@gmail.com</a></span>

                </p>
            </div>

            <div id="rules" class="tab-pane fade">
               <p>
                   1. Each participant must register himself/herself individually.<br>
                   2. College ID card is compulsory for participating.<br>
                   3. This event is exclusively for 1st, 2nd & 3rd Year Students.<br>
                   4. Use of electronic gadgets (mobile, laptop, calculators, etc.) is not allowed.<br>
                   5. Use of unfair means will lead to disqualification.<br>
                   6. Decisions of Event Managers and AXIS Core Committee will be final and binding.<br>

                </p>
            </div>

            <div id="rounds" class="tab-pane fade">
               <div class="menuscroll"> <p>
                   <ul>
                    <li class="prblm_ul"><span class="larger">Round 1</span><br>
                    This Round will require all the participants individually to give a pen-paper test consisting of
                    MCQ’s and <br>subjective questions. Maximum time limit is 30 min. The questions will be asked on basic
                    electrical and<br> digital & analog electronics. The test will be held on 24th September 2016 at VNIT
                    and will begin sharply <br>at 10 a.m.<br><br>
                    The test will consist of 15 MCQ’s of 2 marks each and 5 subjective questions of 6 marks each.<br>
                    There will be negative marking of -1 for each wrong answer in MCQ’s. No negative marking for subjective section.<br><br>
                    </li>
                    <li class="prblm_ul"><span class="larger">Round 2</span><br>
                    Based on performance in Round 1, the shortlisted participants will be called for Round 2 to be held
                    on the<br> same day. In this Round participants will have to form groups of 2 members each.
                    Herein, the groups will<br> be evaluated based on their fault detecting skills. They will be given a
                    number of circuit diagrams which are<br> not producing the expected output. The groups are required to
                    detect the faults in each circuit and draw<br> the correct circuit diagram on paper to obtain the
                    correct output. Time limit is 1 hour. Shortlisted Groups will<br> move to the final round.<br><br>
                    </li>
                    <li class="prblm_ul"><span class="larger">Round 3</span><br>Will be updated soon.</li>

                    </ul>

                </p></div>
            </div>
            
           <div id="register" class="tab-pane fade">
                 <div class="form">
            	<form role="form" class="form-horizontal" method="post" action="{% url 'minutereg' %}">
                    {% csrf_token %}
                	<div class="form-group-sm ">
                          <!--<div class="row">
                             <div class="col-sm-2" >
                    		<div style="font-size:18px; padding-top:10px;" class="prblm_ul larger">Team Name</div>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="team" id="team" placeholder="Name" type="text"/>
                            </div>
                          </div>-->
                          <br>
                    	  <div class="row">
                            <div class="col-sm-1" >
                    		<div style="font-size:12px; padding-top:10px;" class="prblm_ul"> Member 1</div>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fname" id="fname" placeholder="Name" type="text"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fcollege" id="fcollege" placeholder="College Name" type="text"/>
                           </div>
                           <div class="col-sm-2">
                    		<input class="form-control" name="fmail" id="fmail" placeholder="Email Id" type="email"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fcon" id="fcon" placeholder="Contact" type="text"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="fcity" id="fcity" placeholder="City" type="text"/>
                            </div>
                        </div>
                        <br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                      <!--<div class="row">
                            <div class="col-sm-1" >
                    		<div style="font-size:12px; padding-top:10px;" class="prblm_ul"> Member 2</div>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="sname" id="sname" placeholder="Name" type="text"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="scollege" id="scollege" placeholder="College Name" type="text"/>
                           </div>
                           <div class="col-sm-2">
                    		<input class="form-control" name="smail" id="smail" placeholder="Email Id" type="email"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="scon" id="scon" placeholder="Contact" type="text"/>
                            </div>
                            <div class="col-sm-2">
                    		<input class="form-control" name="scity" id="scity" placeholder="City" type="text"/>
                            </div>
                        </div>-->
                        <br><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">

                      <div class="row">

                        <div class="col-sm-12 text-center">
                    		<input class=" btn-warning" type="submit" name="login" id="login" value="Submit"/>
                        </div><br><br><br class="visible-xs">
                        </div><br class="visible-xs"><br class="visible-xs"><br class="visible-xs">
                    </div>
                </form>
            </div>

        </div>


      </div>
        <br>
        </div>
      
      </div>
      
      
      <!--footer-->
      <div class=" footer">
            <div class="container-fluid">
                <div class="col-md-offset-9">
                    <a target="_blank" href="https://www.facebook.com/axisvnit/" class=" social-icon fb">
                        <i class="fa fa-facebook-f"></i>
                     </a>
                     <a target="_blank" href="https://www.linkedin.com/company/axis-vnit-nagpur?trk=biz-companies-cym" class=" social-icon in">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/axisvnit" class=" social-icon tw">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.instagram.com/axis_vnit" class=" social-icon ins">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCjczZvwh0T20yvMLsc5eUkA" class=" google social-icon yt">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
            </div>
        </div>
        
        
        
        
         <!--time-->
        <div class="timecon">
        <abbr title="Time For Revolution">
        <!--<div id="clockdiv" class="clockdiv hidden-xs hidden-sm time-container">
          <div class="col-md-offset-0 ">
          	  <img src="{% static 'main/images/timeb.png' %}" alt="time left" style="margin-top:8px;" class="cblink">
              <div class="time col-md-1 col-xs-3">
                  <div class="days"></div>
                  <span class="timetext">D</span>
              </div> 
              
              <div class="time col-md-1 col-xs-3">
                  <div class="hours"></div>
                  <span class="timetext">h</span>
              </div>
              
              <div class="time col-md-1 col-xs-3">
                  <div class="minutes"></div>
                  <span class="timetext">m</span>
              </div>
              
              <div class="time col-md-1 col-xs-3">
                  <div class="seconds"></div>
                  <span class="timetext">s</span>
              </div>
          </div>
         </div>--></abbr></div>
        
        
        
    
    </div>

</center>
<script src="{% static 'main/js/jquery-2.2.2.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/time.js' %}"></script>
</body>
</html>
