{% load staticfiles %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<title>AXIS 16 Core Coordinators</title>
    <link href="{% static 'main/images/logoweb.png' %}" rel="icon">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/formthemelogin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/hover-img.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/team.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/teamload.css' %}">
</head>

<body>

<center>

	<div class="container-fluid maincon">
    
    	
        <a href="teamct.html" class="back"><i class="fa fa-arrow-circle-left"></i></a>
        
        
            <div class="row">
    		<div class="head col-md-3">
        	<a href="{% url 'first' %}"> <img src="{% static 'main/images/typowebrr.png' %}" height="47.5" width="160.5" alt=""/><hr class="tophr">
                </a>
        	</div></div><br>
        
    	
        <!--row1-->
    	<div class="row">
        	
            <!--1-->
        	<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">
            
            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a target="_blank" href="https://www.facebook.com/amit.tapas.9"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://www.linkedin.com/in/amit-tapas-213136112"><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">AMIT TAPAS</span><br>
                <span class="desg">Core-Coordinator</span><br>
                <a href="maito:amit.tapas@axisvnit.org"><span class="mail">amit.tapas@axisvnit.org</span></a><br>
                <span class="number">+91-8237706956</span>
                </div>
            
            </div>
            
            <!--2-->
            <div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">
            
            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-2 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a target="_blank" href="https://www.facebook.com/anoushka.banavar"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://www.linkedin.com/in/anoushka-banavar-4bab53b7"><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">ANOUSHKA BANAVAR</span><br>
                <span class="desg">Core-Coordinator</span><br>
                <a href="maito:anoushka.banavar@axisvnit.org"><span class="mail">anoushka.banavar@axisvnit.org</span></a><br>
                <span class="number">+91-9049660262</span>
                </div>
            
            </div>
            
            <!--3-->
            <div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">
            
            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-3 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100008699675219"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://in.linkedin.com/in/harshal-patil-41a381117"><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">HARSHAL PATIL</span><br>
                <span class="desg">Core-Coordinator</span><br>
                <a href="maito:harshal.patil@axisvnit.org"><span class="mail">harshal.patil@axisvnit.org</span></a><br>
                <span class="number">+91-9619446507</span>
                </div>
            
            </div>
        
        </div>
        
        <br><br><br><br><br><br><br><br>
        
        <!--row2-->
        
        
        <div class="row">
        	
            <!--1-->
        	<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">
            
            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-4 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a target="_blank" href="https://www.facebook.com/hemanshurc"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://in.linkedin.com/in/hemanshu-chamate-b58537113"><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">HEMANSHU CHAMATE</span><br>
                <span class="desg">Core-Coordinator</span><br>
                <a href="maito:hemanshu.chamate@axisvnit.org"><span class="mail">hemanshu.chamate@axisvnit.org</span></a><br>
                <span class="number">+91-7350810936</span>
                </div>
            
            </div>
            
            <!--2-->
            <div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">
            
            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-5 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a target="_blank" href="https://www.facebook.com/jyothiprakashjoga"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://in.linkedin.com/in/jpjoga"><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">JYOTHI PRAKASH JOGA</span><br>
                <span class="desg">Core-Coordinator</span><br>
                <a href="maito:jyothiprakash.joga@axisvnit.org"><span class="mail">jyothiprakash.joga@axisvnit.org</span></a><br>
                <span class="number">+91-7767061700</span>
                </div>
            
            </div>
            
            <!--3-->
            <div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">
            
            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-6 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a target="_blank" href="https://www.facebook.com/vivek.deshpande160297"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://www.linkedin.com/in/vivekdeshpande007"><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">VIVEK DESHPANDE</span><br>
                <span class="desg">Core-Coordinator</span><br>
                 <a href="maito:vivek.deshpande@axisvnit.org"><span class="mail">vivek.deshpande@axisvnit.org</span></a><br>
                <span class="number">+91-8888900093</span>
                </div>
            
            </div>
        
        </div>
        
        
        <br><br><br><br><br><br><br>
        
        <!--row3-->
        
        <div class="row">
        	
            <!--1-->
        	<div class="col-md-5 col-md-offset-4 box col-sm-3 col-sm-offset-1 tresi">
            
            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-7 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a target="_blank" href="https://www.facebook.com/sumedh.kanade.16"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://www.linkedin.com/in/sumedh-kanade-a257b9bb"><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">SUMEDH KANADE</span><br>
                <span class="desg">TREASURER</span><br>
                 <a href="maito:sumedh.kanade@axisvnit.org"><span class="mail">sumedh.kanade@axisvnit.org</span></a><br>
                <span class="number">+91-9028537369</span>
                </div>
            
            </div>
            
            <!--2-->
            <!--<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">
            
            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1 h_white teampic">
							<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">TANAY PATIL</span><br>
                <span class="desg">Core-Coordinator</span><br>
                <span class="mail">tanay.patil@axisvnit.org</span><br>
                <span class="number">+91-7857657656</span>
                </div>
            
            </div>
            
            <!--3-->
            <!--<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">
            
            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1 h_white teampic">
							<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">TANAY PATIL</span><br>
                <span class="desg">Core-Coordinator</span><br>
                <span class="mail">tanay.patil@axisvnit.org</span><br>
                <span class="number">+91-7857657656</span>
                </div>
            
            </div>-->
        
        </div>
        
        <br><br><br>
    
    </div>

</center>

<script src="{% static 'main/js/jquery-2.2.2.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/teamload.js' %}"></script>
</body>
</html>
