{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>AXIS 16 Professor Incharges</title>
<link href="{% static 'main/images/logoweb.png' %}" rel="icon">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/formthemelogin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/hover-img.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/team.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/teamload.css' %}">
</head>

<body>

<center>

	<div class="container-fluid maincon">


        <a href="teamct.html" class="back"><i class="fa fa-arrow-circle-left"></i></a>


            <div class="row">
    		<div class="head col-md-3">
        	<a href="{% url 'first' %}"><img src="{% static 'main/images/typowebrr.png' %}" height="47.5" width="160.5" alt=""/><hr class="tophr">
        	</a>
            </div></div><br>


        <!--row1-->
    	<div class="row">

            <!--1-->
        	<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-16 h_white teampic">
							<!--<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>-->
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">Dr Yashwant Katpatal</span><br>
                <span class="desg">Professor In-Charge</span><br>
                <a href="maito:ybkatpatal@rediffmail.com"><span class="mail">ybkatpatal@rediffmail.com</span></a><br>
                <!--<span class="number">+91-7857657656</span>-->
                </div>

            </div>

            <!--2-->
            <div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-17 h_white teampic">
							<!--<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>-->
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">Dr VIJAYA KUMAR</span><br>
                <span class="desg">Professor In-Charge</span><br>
                <a href="maito:jbgvijayiitb@gmail.com"><span class="mail">jbgvijayiitb@gmail.com</span></a><br><br>
                <!--<span class="number">+91-7857657656</span>-->
                </div>

            </div>

            <!--3-->
            <div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-21 h_white teampic">
							<!--<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>-->
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">Dr MANGESH KOTAMBKAR</span><br>
                <span class="desg">PROFESSOR IN-CHARGE</span><br>
                <a href="maito:mskotamb@yahoo.com"><span class="mail">mskotamb@yahoo.com</span></a><br>
                <!--<span class="number">+91-7857657656</span>-->
                </div>

            </div>

        </div>

        <br><br><br><br><br><br><br><br>

        <!--row2-->


        <div class="row">

            <!--1-->
        	<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-23 h_white teampic">
							<!--<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>-->
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">Dr G.HEMACHANDRA </span><br>
                <span class="desg">PROFESSOR IN-CHARGE</span><br>
                <a href="maito:drghc@rediffmail.com"><span class="mail">drghc@rediffmail.com</span></a><br>
                <!--<span class="number">+91-7857657656</span>-->
                </div>

            </div>

            <!--2-->
            <div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-22 h_white teampic">
							<!--<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>-->
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">Dr. D.H.LATAYE</span><br>
                <span class="desg">PROFESSOR IN-CHARGE</span><br>
                <a href="maito:dhlataye@civ.vnit.ac.in"><span class="mail">dhlataye@civ.vnit.ac.in</span></a><br>
                <!--<span class="number">+91-7857657656</span>-->
                </div>

            </div>

            <!--3-->
            <div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-20 h_white teampic">
							<!--<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>-->
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">Dr M.DEVAKAR</span><br>
                <span class="desg">PROFESSOR IN-CHARGE</span><br>
                 <a href="maito:m_devakar@mth.vnit.ac.in"><span class="mail">m_devakar@mth.vnit.ac.in</span></a><br>
                <!--<span class="number">+91-7857657656</span>-->
                </div>

            </div>

        </div>


        <br><br><br><br><br><br><br>

        <!--row3-->

        <!--<div class="row">

            <!--1-->
        	<!--<div class="col-md-5 col-md-offset-4 box col-sm-3 col-sm-offset-1" style="margin-left:476px;">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1 h_white teampic">
							<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">TANAY PATIL</span><br>
                <span class="desg">Core-Coordinator</span><br>
                 <a href="maito:tanay.patil@axisvnit.org"><span class="mail">tanay.patil@axisvnit.org</span></a><br>
                <span class="number">+91-7857657656</span>
                </div>

            </div>-->

            <!--2-->
            <!--<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1 h_white teampic">
							<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">TANAY PATIL</span><br>
                <span class="desg">Core-Coordinator</span><br>
                <span class="mail">tanay.patil@axisvnit.org</span><br>
                <span class="number">+91-7857657656</span>
                </div>

            </div>

            <!--3-->
            <!--<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1 h_white teampic">
							<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">TANAY PATIL</span><br>
                <span class="desg">Core-Coordinator</span><br>
                <span class="mail">tanay.patil@axisvnit.org</span><br>
                <span class="number">+91-7857657656</span>
                </div>

            </div>-->

        </div>

        <br><br><br>

    </div>

</center>

<script src="{% static 'main/js/jquery-2.2.2.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/teamload.js' %}"></script>
</body>
</html>
