{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>AXIS 16 Publicity Incharges</title>
<link href="{% static 'main/images/logoweb.png' %}" rel="icon">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/formthemelogin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/hover-img.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/team.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/teamload.css' %}">
</head>

<body>

<center>

	<div class="container-fluid maincon">


        <a href="teamct.html" class="back"><i class="fa fa-arrow-circle-left"></i></a>


            <div class="row">
    		<div class="head col-md-3">
        	<a href="{% url 'first' %}"><img src="{% static 'main/images/typowebrr.png' %}" height="47.5" width="160.5" alt=""/><hr class="tophr">
                </a>
        	</div></div><br>


        <!--row1-->
    	<div class="row">

            <!--1-->
        	<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-8 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a target="_blank" href="https://www.facebook.com/jashwanth.nagireddy"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://in.linkedin.com/in/jashwanth-reddy-051b37a3"><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">JASHWANTH REDDY</span><br>
                <span class="desg">Publicity In-Charge</span><br>
                <a href="maito:jashwanth.reddy@axisvnit.org"><span class="mail">jashwanth.reddy@axisvnit.org</span></a><br>
                <span class="number">+91-7387247850</span>
                </div>

            </div>

            <!--2-->
            <div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-9 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a target="_blank" href="https://www.facebook.com/meghana.ponnuru"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href=""><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">MEGHANA PONNURU</span><br>
                <span class="desg">Publicity In-Charge</span><br>
                <a href="maito:meghana.ponnuru@axisvnit.org"><span class="mail">meghana.ponnuru@axisvnit.org</span></a><br>
                <span class="number">+91-9665107657</span>
                </div>

            </div>

            <!--3-->
            <div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-10 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a target="_blank" href="https://www.facebook.com/mihika.daga"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://in.linkedin.com/in/mihika-daga-156464112"><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">MIHIKA DAGA</span><br>
                <span class="desg">Publicity In-Charge</span><br>
                <a href="maito:mihika.daga@axisvnit.org"><span class="mail">mihika.daga@axisvnit.org</span></a><br>
                <span class="number">+91-7875352622</span>
                </div>

            </div>

        </div>

        <br><br><br><br><br><br><br><br>

        <!--row2-->


        <div class="row">

            <!--1-->
        	<div class="col-md-3 col-md-offset-2 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-11 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a target="_blank" href="https://www.facebook.com/praneel.chandra2"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://in.linkedin.com/in/praneel-chandra-307419113"><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">PRANEEL CHANDRA</span><br>
                <span class="desg">Publicity In-Charge</span><br>
                <a href="maito:praneel.chamdra@axisvnit.org"><span class="mail">praneel.chandra@axisvnit.org</span></a><br>
                <span class="number">+91-9960771504</span>
                </div>

            </div>

            <!--2-->
            <div class="col-md-3 col-md-offset-2 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-12 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a target="_blank" href="https://www.facebook.com/shubham.hinge.5"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="https://in.linkedin.com/in/shubham-hinge-899055a0"><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">SHUBHAM HINGE</span><br>
                <span class="desg">Publicity In-Charge</span><br>
                <a href="maito:shubham.hinge@axisvnit.org"><span class="mail">shubham.hinge@axisvnit.org</span></a><br>
                <span class="number">+91-8600078085</span>
                </div>

            </div>

            <!--3-->
            <!--<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1 h_white teampic">
							<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">TANAY PATIL</span><br>
                <span class="desg">Core-Coordinator</span><br>
                 <a href="maito:tanay.patil@axisvnit.org"><span class="mail">tanay.patil@axisvnit.org</span></a><br>
                <span class="number">+91-7857657656</span>
                </div>

            </div>

        </div>


        <br><br><br><br><br><br><br>

        <!--row3-->

        <!--<div class="row">

            <!--1-->
        	<!--<div class="col-md-5 col-md-offset-4 box col-sm-3 col-sm-offset-1" style="margin-left:476px;">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1 h_white teampic">
							<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">TANAY PATIL</span><br>
                <span class="desg">Core-Coordinator</span><br>
                 <a href="maito:tanay.patil@axisvnit.org"><span class="mail">tanay.patil@axisvnit.org</span></a><br>
                <span class="number">+91-7857657656</span>
                </div>

            </div>-->

            <!--2-->
            <!--<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1 h_white teampic">
							<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">TANAY PATIL</span><br>
                <span class="desg">Core-Coordinator</span><br>
                <span class="mail">tanay.patil@axisvnit.org</span><br>
                <span class="number">+91-7857657656</span>
                </div>

            </div>

            <!--3-->
            <!--<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1 h_white teampic">
							<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">TANAY PATIL</span><br>
                <span class="desg">Core-Coordinator</span><br>
                <span class="mail">tanay.patil@axisvnit.org</span><br>
                <span class="number">+91-7857657656</span>
                </div>

            </div>-->

        </div>

        <br><br><br>

    </div>

</center>

<script src="{% static 'main/js/jquery-2.2.2.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/teamload.js' %}"></script>
</body>
</html>
