{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>TEAM</title>
<link href="{% static 'main/images/logoweb.png' %}" rel="icon">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/teamct.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/teamctload.css' %}">
</head>

<body>

<center>

    <div class="container" style="padding-top:40px;">
    
    	<a href="../first.html" class="back"><i class="fa fa-arrow-circle-left " style="color:#FFFFFF"></i></a>
    
        <div class="row">
    	<div class="head col-md-3">
        	<img src="{% static 'main/images/typowebrr.png' %}" height="47.5" width="160.5" alt=""/><hr class="tophr">
        </div></div><br>
    
       <a href="profs.html"><div class="profdiv top t1 top col-md-2 col-md-offset-1 redborder">
         <div class="text col-md-10"><i class=" fa fa-gavel"></i>Professors In-Charge</div>
	   </div> </a>
       
       
       <a href="core.html"><div class="profdiv t2 right col-md-2 col-md-offset-1 blueborder">
         <div class="text1 col-md-11"><i class="fa fa-users"></i>   Core Coordinators and Treasurer</div>
	   </div> </a>
       
       
       <a href="publicity.html"><div class="profdiv left t3 col-md-2 col-md-offset-1 yellowborder">
         <div class="text3 col-md-10"><i class="fa fa-newspaper-o"></i>  Publicity In-Charges</div>
	   </div> </a>
       
       
       <a href="webteam.html"><div class="profdiv bottom t4 col-md-2 col-md-offset-1 greenborder">
         <div class="text2 col-md-10"><i class="fa fa-globe"></i>  Web and graphics  <i class="fa fa-paint-brush"></i></div>
	   </div> </a>
    
    </div>

</center>

<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/jquery-2.2.2.min.js' %}"></script>
</body>
</html>
