{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>AXIS 16 Web and Graphics Team</title>
<link href="{% static 'main/images/logoweb.png' %}" rel="icon">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/formthemelogin.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/hover-img.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/team.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main/css/teamload.css' %}">
</head>

<body>

<center>

	<div class="container-fluid maincon">


        <a href="teamct.html" class="back"><i class="fa fa-arrow-circle-left"></i></a>


            <div class="row">
    		<div class="head col-md-3">
        	<a href="{% url 'first' %}"><img src="{% static 'main/images/typowebrr.png' %}" height="47.5" width="160.5" alt=""/><hr class="tophr">
                </a>
        	</div></div><br>


        <!--row1-->
    	<div class="row">

            <!--1-->
        	<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-13 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a  target="_blank" href="https://plus.google.com/u/0/115958488168190670504/posts"><i class="fa fa-google-plus"></i></a>
                                    <a  target="_blank" href="https://www.linkedin.com/in/tanay-patil-300791114"><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">TANAY PATIL</span><br>
                <span class="desg">WEB DEVELOPER</span><br>
                <a href="mailto:tanay.patil@axisvnit.org"><span class="mail">tanay.patil@axisvnit.org</span></a><br>
                <span class="number">+91-8624810406</span>
                </div>

            </div>

            <!--2-->
            <div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-14 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a  target="_blank" href="https://www.facebook.com/vnitdarshan.kadu"><i class="fa fa-facebook"></i></a>
                                    <a  target="_blank" href="https://www.linkedin.com/in/darshan-kadu-043703103"><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">DARSHAN KADU</span><br>
                <span class="desg">WEB DEVELOPER</span><br>
                <a href="mailto:darsh7807@gmail.com"><span class="mail">darshan.kadu@axisvnit.org</span></a><br>
                <span class="number">+91-7066794755</span>
                </div>

            </div>

            <!--3-->
            <div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-15 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a  target="_blank" href="https://www.facebook.com/profile.php?id=100008296418557"><i class="fa fa-facebook"></i></a>
                                    <a  target="_blank" href="https://www.behance.net/akash_01"><i class="fa fa-behance"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">AKASH GABHANE</span><br>
                <span class="desg">GRAPHICS DESIGNER</span><br>
                <a href="mailto:akash.gabhane@axisvnit.org"><span class="mail">akash.gabhane@axisvnit.org</span></a><br>
                <span class="number">+91-9767658191</span>
                </div>

            </div>

        </div>

        <br><br><br><br><br><br><br><br>

        <!--row2-->


        <div class="row">

            <!--1-->
        	<!--<div class="col-md-3 col-md-offset-2 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-18 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a href="https://www.facebook.com/atharva.moroney"><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">ATHARVA MORONEY</span><br>
                <span class="desg">WEB DEVELOPER</span><br>
                <!--<a href="maito:tanay.patil@axisvnit.org"><span class="mail">tanay.patil@axisvnit.org</span></a><br>-->
                <!--<span class="number">+91-9922256502</span>
                </div>

            </div>-->

            <!--2-->
            <div class="col-md-3 col-md-offset-4 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-19 h_white teampic">
							<div class="ch-info">
								<h3>
                                    <a  target="_blank" href="https://www.facebook.com/rahul60296"><i class="fa fa-facebook"></i></a>
                                    <a  target="_blank" href="https://in.linkedin.com/in/rahul-khandelwal-4038a9b1"><i class="fa fa-linkedin"></i></a>
                                </h3>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">RAHUL KHANDELWAL</span><br>
                <span class="desg">WEB DEVELOPER</span><br>
                <!--<a href="maito:tanay.patil@axisvnit.org"><span class="mail">tanay.patil@axisvnit.org</span></a><br>-->
                <span class="number">+91-7620906070</span>
                </div>

            </div>

            <!--3-->
            <!--<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1 h_white teampic">
							<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">TANAY PATIL</span><br>
                <span class="desg">Core-Coordinator</span><br>
                 <a href="maito:tanay.patil@axisvnit.org"><span class="mail">tanay.patil@axisvnit.org</span></a><br>
                <span class="number">+91-7857657656</span>
                </div>

            </div>

        </div>


        <br><br><br><br><br><br><br>

        <!--row3-->

        <!--<div class="row">

            <!--1-->
        	<!--<div class="col-md-5 col-md-offset-4 box col-sm-3 col-sm-offset-1" style="margin-left:476px;">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1 h_white teampic">
							<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">TANAY PATIL</span><br>
                <span class="desg">Core-Coordinator</span><br>
                 <a href="maito:tanay.patil@axisvnit.org"><span class="mail">tanay.patil@axisvnit.org</span></a><br>
                <span class="number">+91-7857657656</span>
                </div>

            </div>

            <!--2-->
            <!--<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1 h_white teampic">
							<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">TANAY PATIL</span><br>
                <span class="desg">Core-Coordinator</span><br>
                <span class="mail">tanay.patil@axisvnit.org</span><br>
                <span class="number">+91-7857657656</span>
                </div>

            </div>

            <!--3-->
            <!--<div class="col-md-3 col-md-offset-1 box col-sm-3 col-sm-offset-1">

            	<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1 h_white teampic">
							<div class="ch-info">
								<a href=""><h3><i class="fa fa-facebook-f"></i></h3></a>
								<p></p>
							</div>
						</div>
					</li>
				</ul>
				<div class="info">
				<span class="name">TANAY PATIL</span><br>
                <span class="desg">Core-Coordinator</span><br>
                <span class="mail">tanay.patil@axisvnit.org</span><br>
                <span class="number">+91-7857657656</span>
                </div>

            </div>-->

        </div>

        <br><br><br>

    </div>

</center>

<script src="{% static 'main/js/jquery-2.2.2.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/teamload.js' %}"></script>
</body>
</html>
